@import "bootstrap-custom.less";

// The theme in site-variables.less is imported in bootstrap-custom.less

/* #region AngularJS API Reference / ng / directive / ngCloak ----------- */
[ng-cloak], [data-ng-cloak], .ng-cloak {
    display: none !important;
}
/* #endregion */

/* #region loading-bar-spinner customization. Change position. ----------- */
div#loading-bar-spinner {
    top: 50px;
}
/* #endregion */

/* #region toastr customization. Remove opacity. ----------- */
#toast-container > div {
    opacity: 1;
}
/*#endregion*/

/* #region Custom elements ----------- */

hr.app-separator {
    border-top-color: @page-header-border-color;
}

/* #endregion */

/* #region Custom page ----------- */

#footerContents {
    a {
        padding-left: 30px;
    }

    a.credit {
        padding-left: 0;
    }
}

/*.validationMessage, .validation-summary-errors {
    color: red;
    margin-left: 20px;
}*/

// For navspy positioning
h4.app-nav-anchor, h3.app-nav-anchor, p.app-nav-anchor {
    padding-top: @navbar-height;
    margin-top: 0 - @navbar-height;
}

/*.glossary-term {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAEUlEQVQIHWM4cODAf2TMAAUA1N0M/dgaT/gAAAAASUVORK5CYII=) repeat-x left bottom;
    font-weight: bold;
}*/

.table > tbody > tr.app-row-review > td {
    border-top-color: transparent;
}

input.form-control.ng-dirty.ng-invalid {
    border-color: red;
}

/* #endregion */

/* #region Angular-Bootstrap ----------- */
.modal-header > h3 {
    color: @appRed;
}

/* #endregion */


/* #region Review editor pages ----------- */

#spot-marks {
    width: 100%;
    height: 16px;
    position: relative;
}

.spot-mark {
    background-color: #f9b800;
    position: absolute;
    padding: 0px;
    width: 3px;
    height: 100%;
    top: -32px;
    z-index: 20;
}

.spot-mark.bottom-mark {
    top: 0px;
}

.spot-mark.selected-mark {
    background-color: #c00b16;
    top: -16px;
    z-index: 10;
}

tr.edited-remark .edited-hidden {
    display: none;
}

tr.not-selected-remark .not-edited-hidden, tr.selected-not-edited-remark .not-edited-hidden {
    display: none;
}

tr.not-selected-remark .not-selected-hidden {
    display: none;
}

tr.ignored-remark {
    color: gainsboro; //whitesmoke; //gainsboro; // lightgrey;
}

tr.ignored-remark a {
    color: gainsboro; //whitesmoke; // gainsboro;// lightgrey; MintCream
}

tr.rival-remark {
    background-color: beige;
}

.on-page-exit {
    border-color: red;
    border-width: 3px;
}

#titleLabel {
    width: 40px;
}

#titleDiv {
    margin-left: 50px;
}

/*i[class^="icon-"] {
    margin-top: 4px;
}*/

/*button.btn-xs > i.lowered-icon {
    margin-top: 1px;
}*/

td.replay-column {
    padding: 2px;
}

/*div.review-time {
    margin-top: -6px;
}*/

#soundPosition {
    margin-top: 6px;
    margin-bottom: 10px;
}
/* #endregion */


/* #region Custom Font Awesome styles ----------- */

i.fa {
    &.fa-plus {
        color: green;
    }

    &.fa-times {
        color: red;
    }
}

/* #endregion */


