
/* #region --- Custom settings */

@appYellow: #ffc82d; // RGB 255 200 45  CMYK 0 22 82 0
@appRed: #ac1f28; // RGB 172 31 40  CMYK 0 82 77 33  // ielts rgb(226,25,55);
@appWhite: white;
@appBlue: #006394; // +http://charliepark.org/bootstrap_buttons/

@appFontSize: 13px; // Originally 14px
@appNavbarHeight: 40px; // Originally 50px;

@appInverseLinkColor: @appWhite;
@appInverseLinkHoverColor: mix(@appWhite, @appYellow, 60%);

/* #endregion */
