<ul>
    <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns">Pronouns</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/personal-pronouns">personal pronouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/it-and-there">it and there</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/you-and-they">you and they</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/possessive-pronouns-see-possessives-pronouns">possessive pronouns (see possessives:- pronouns)</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/that-these-and-those">this, that, these and those</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/one-and-ones">one and ones</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/questions">questions</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/reflexive-pronouns">reflexive pronouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/reciprocal-pronouns-each-other-and-one-another">reciprocal pronouns: each other and one another</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/indefinite-pronouns">indefinite pronouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/pronouns/relative-pronouns">relative pronouns</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/determiners-and-quantifiers">Determiners and quantifiers</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/determiners-and-quantifiers/interrogative-determiners-which-and-what">interrogative determiners: which and what</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/determiners-and-quantifiers/indefinite-article-and">indefinite article: a and an</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/determiners-and-quantifiers/definite-article">definite article: the</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/determiners-and-quantifiers/quantifiers">quantifiers</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/possessives">Possessives</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/possessives/possessives-nouns">possessives: nouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/possessives/possessives-adjectives">possessives: adjectives</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/possessives/possessives-pronouns">possessives: pronouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/possessives/possessives-questions">possessives: questions</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/possessives/possessives-reciprocal-pronouns">possessives: reciprocal pronouns</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives">Adjectives</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/adjectives-ed-and-ing">adjectives: -ed and -ing</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/order-adjectives">order of adjectives</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/comparative-and-superlative-adjectives">comparative and superlative adjectives</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/intensifiers">intensifiers</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/mitigators">mitigators</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adjectives/noun-modifiers">noun modifiers</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials">Adverbials</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/how-we-make-adverbials">how we make adverbials</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/where-they-go-sentence">where they go in a sentence</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbs-manner">adverbs of manner</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-place">adverbials of place</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-place/adverbials-location">adverbials of location</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-place/adverbials-direction">adverbials of direction</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-place/adverbials-distance">adverbials of distance</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-time">adverbials of time</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-time/time-and-dates">time and dates</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-time/how-long">how long</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-time/how-often">how often</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-time/already-still-yet-and-no-longer">already, still, yet and no longer</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/adverbials-probability">adverbials of probability</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/comparative-adverbs">comparative adverbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/adverbials/superlative-adverbs">superlative adverbs</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/nouns">Nouns</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/nouns/count-nouns">count nouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/nouns/uncount-nouns">uncount nouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/nouns/common-problems-countuncount-nouns">common problems with count/uncount nouns</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/nouns/proper-nouns">proper nouns</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/verbs">Verbs</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/irregular-verbs">irregular verbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/question-forms">question forms</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verb-phrases">verb phrases</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/present-tense">present tense</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/present-tense/present-simple">present simple</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/present-tense/present-continuous">present continuous</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/present-tense/present-perfect">present perfect</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/past-tense">past tense</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/past-tense/past-simple">past simple</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/past-tense/past-continuous">past continuous</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/past-tense/past-perfect">past perfect</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/perfective-aspect">perfective aspect</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/continuous-aspect">continuous aspect</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/active-and-passive-voice">active and passive voice</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/infinitive">to + infinitive</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/-ing-forms">-ing forms</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/talking-about-present">talking about the present</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/talking-about-past">talking about the past</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/talking-about-future">talking about the future</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verbs-time-clauses-and-if-clauses">verbs in time clauses and if clauses</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/wishes-and-hypotheses">wishes and hypotheses</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verb-be">the verb be</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/link-verbs">link verbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/delexical-verbs-have-take-make-and-give">delexical verbs like have, take, make and give</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs">Modal verbs</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/certain-probable-or-possible">certain, probable or possible</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/ability-permission-requests-and-advice">ability, permission, requests and advice</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/modals-have">modals + have</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/can-could-and-could-have">can, could and could have</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/may-might-may-have-and-might-have">may, might, may have and might have</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/can-or-could">can or could</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/will-or-would">will or would</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/modal-verbs/will-have-or-would-have">will have or would have</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/double-object-verbs">double object verbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/phrasal-verbs">phrasal verbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/reflexive-and-ergative-verbs">reflexive and ergative verbs</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verbs-followed-infinitive">verbs followed by to + infinitive</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verbs-followed-ing-clauses">verbs followed by -ing clauses</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/verbs/verbs-followed-that-clause">verbs followed by that clause</button></li>
    </ul>
    </li>
    <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence">Clause, phrase and sentence</button>
    <ul>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/clause-structure">clause structure</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns">verb patterns</button>
        <ul>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/intransitive-verbs">intransitive verbs</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/transitive-verbs">transitive verbs</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/link-verbs">link verbs</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/double-object-verbs">double object verbs</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/verbs-ing-forms">verbs with -ing forms</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/verbs-infinitive">verbs with to + infinitive</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/reporting-verbs-that-wh-and-if-clauses">reporting verbs with that, wh- and if clauses</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/two-and-three-part-verbs">two- and three-part verbs</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/verb-patterns-adverbials">verb patterns - adverbials</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/clauses-short-forms">clauses: short forms</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/relative-clauses">relative clauses</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/reporting-reports-and-summaries">reporting: reports and summaries</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/verbs-questions-and-negatives">verbs - questions and negatives</button></li>
            <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-patterns/wh-clauses">wh- clauses</button></li>
        </ul>
        </li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/noun-phrase">noun phrase</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/verb-phrase">verb phrase</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/adverbial-phrases">adverbial phrases</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/prepositional-phrases">prepositional phrases</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/sentence-structure">sentence structure</button></li>
        <li><button type="button" class="tag-grammar-button" name="BCEG/clause-phrase-and-sentence/adjective-phrases">adjective phrases</button></li>
    </ul>
    </li>
</ul>
