<div id="navigation" class="row">
    <div class="col-md-12">
        @* Slider is positioned exactly at the edges, so half of the thumb is outside of the slider. *@
        <div style="margin: 0px 20px 10px;">
            <div id="slider"></div>
            <div id="spot-marks" data-bind="foreach: remarks">
                <a class="spot-mark" data-bind="click: $parent.selectRemark, style: { left: $parent.getSpotMarkStyleLeft($data) + '%' }, css: $parent.getSpotMarkClass($data)" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-2" id="soundPosition">
            <span data-bind="text: formattedPosition"></span>&nbsp;/&nbsp;<span data-bind="text: exercise().formattedLength"></span>
        </div>
    <div class="col-sm-2">
            <button class="btn btn-block" data-bind="click: rewind"><i class="fa fa-step-backward" ></i>&nbsp;&nbsp;Rewind</button>
        </div>
        <div class="col-sm-2">
            <button id="playButton" type="button" class="btn btn-block" data-bind="click: playerClick"><i class="fa fa-play"></i>&nbsp;&nbsp;<span>Play</span></button>
        </div>
    <div class="col-sm-4">
        </div>
</div>

