@{
    ViewBag.Title = "Edit Review";
}
@section HeadScripts {
    @Html.Partial("_HeadScriptsPartial")

    <style>
        #suggestionTable > tbody > tr > td {
            border-top: none;
        }
    </style>
}
<div ng-app="app" ng-controller="Editor" ng-cloak>
    <div ng-hide="vm.soundLoaded">
        <i class="fa fa-spinner fa-spin fa-2x"></i>&nbsp;&nbsp;Loading the recording...
        <br />&nbsp;
    </div>

    <div class="row" ng-show="vm.unsavedOnExit">
        <div class="col-sm-2">
            <button class="btn btn-primary btn-block unsaved-on-exit" ng-click="vm.save()" ng-disabled="!vm.canSave()">Save</button>
            <br />
        </div>
        <div class="col-sm-10">
        </div>
    </div>

    <br />
    <div id="editor" ng-show="vm.soundLoaded">
        @Html.Partial("_PlayerPartial")
        <br />
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-large btn-block btn-primary" ng-show="!vm.review.finishTime" ng-disabled="!vm.canAddRemark()" ng-click="vm.addRemark()">
                    While listening, click here to mark a spot
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Spot</th>
                            <th>Remark</th>
                            <th>Keywords</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in vm.remarks" ng-click="vm.selectRemark(r)" ng-class="{warning: vm.isHighlighted(r)}">
                            <td class="app-btn-cell">
                                <button class="btn btn-default btn-xs" ng-show="vm.isSelected(r)" ng-click="vm.playRemarkSpot(r)" title="Replay"><i class="fa fa-repeat"></i></button>
                            </td>
                            <td style="white-space: nowrap">
                                <div ng-show="vm.isEdited(r)">
                                    from&nbsp;
                                    @* Don not break the following line. A line break adds a space between the button and the time text *@
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(r, true, -1000)" title="Shift spot start">&lsaquo;</button>
                                    {{r.start | appMsecToMinSec}}
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(r, true, 1000)" title="Shift spot start">&rsaquo;</button>
                                    <br />
                                    to&nbsp;
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(r, false, -1000)" title="Shift spot end">&lsaquo;</button>
                                    {{r.finish | appMsecToMinSec}}
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(r, false, 1000)" title="Shift spot end">&rsaquo;</button>
                                </div>
                                <div ng-show="!vm.isEdited(r)">
                                    from&nbsp;{{r.start | appMsecToMinSec}}
                                    to&nbsp;{{r.finish | appMsecToMinSec}}
                                </div>
                            </td>
                            <td>
                                <textarea rows="2" cols="40" ng-show="vm.isEdited(r)" ng-model="r.text" ng-change="vm.makeRemarkDirty(r)"></textarea>
                                <span ng-show="!vm.isEdited(r)">{{r.text}}</span>
                            </td>
                            <td>
                                <input type="text" size="40" ng-show="vm.isEdited(r)" ng-model="r.keywords" ng-change="vm.makeRemarkDirty(r)">
                                <span ng-show="!vm.isEdited(r)">{{r.keywords}}</span>
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs" title="Delete" ng-click="vm.showDeleteRemarkModal(r)" ng-show="vm.isEdited(r)">
                                    <i class="fa fa-times app-fa-red"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="app-separator" />
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comment</h3>
                    </div>
                    <div class="panel-body">
                        <textarea rows="10" style="width:100%; resize:vertical;" ng-show="!vm.review.finishTime" ng-model="vm.review.comment" ng-change="vm.makeCommentDirty()"></textarea>
                        <span style="white-space: pre-line;" ng-show="vm.review.finishTime">{{vm.review.comment}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Practice and Learning Suggestions</h3>
                    </div>
                    <div class="panel-body">
                        <table id="suggestionTable" class="table">
                            <tr ng-repeat="s in vm.review.suggestions">
                                <td>
                                    <input type="text" class="form-control" ng-show="!vm.review.finishTime" ng-model="s.text" ng-change="vm.makeSuggestionDirty(s)" ng-focus="vm.supplySuggestionPlaceholders()"
                                           typeahead="c for c in vm.coreInventory | filter:$viewValue | limitTo:10" typeahead-on-select="vm.makeSuggestionDirty(s)">
                                    <span ng-show="vm.review.finishTime">{{s.text}}</span>
                                </td>
                                <td style="width:10%">
                                    <button class="btn btn-default btn-xs" ng-show="!vm.review.finishTime" title="Delete" ng-click="vm.deleteSuggestion(s)">
                                        <i class="fa fa-times app-fa-red"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-default" ng-show="!vm.review.finishTime" title="New" ng-click="vm.addSuggestion()" ng-disabled="!vm.canAddSuggestion()">
                                        <i class="fa fa-plus app-fa-green"></i>&nbsp;New
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
                <button class="btn btn-primary btn-block" ng-show="!vm.review.finishTime" ng-class="{'unsaved-on-exit': vm.unsavedOnExit}" ng-click="vm.save()" ng-disabled="!vm.canSave()">Save</button>
            </div>
            <div class="col-sm-3">
                @* The &nbsp; separates buttons when the layout jumps on col-sm  *@
                <span ng-show="vm.autoSaved">Auto-saved</span>&nbsp;
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-block" ng-show="!vm.review.finishTime" ng-click="vm.showFinishReviewModal(r)">Finish review</button><br />
            </div>
            <div class="col-sm-4 text-right">
                &nbsp;&nbsp;Started&nbsp;{{vm.review.startTime | appDateTime}}
                <br />
                <span ng-show="vm.review.finishTime">Finished&nbsp;{{vm.review.finishTime | appDateTime}}</span>
                <span ng-show="!vm.review.finishTime">&nbsp;&nbsp;Not finished</span>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <!-- deleteRemarkModal.html -->
    <script type="text/ng-template" id="deleteRemarkModal.html">
        <div class="modal-header">
            <h3>Delete remark</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>The remark will be deleted permanently.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.ok()" ng-disabled="vm.executing">OK</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
        </div>
    </script>
    <!-- /deleteRemarkModal.html -->
    <!-- finishReviewModal.html -->
    <script type="text/ng-template" id="finishReviewModal.html">
        <div class="modal-header">
            <h3>Finish review</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>Do you want to finish editing the review?</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.ok()" ng-disabled="vm.executing">OK</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
        </div>
    </script>
    <!-- /finishReviewModal.html -->
    <!-- /Modals -->
</div>

@using (Html.BeginInstructionsContainer())
{
    <li>As you are adding and editing your remarks, the changes are automatically saved every minute. You may be prompted to save changes manually on page exit.</li>
}
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
    @Scripts.Render(
"~/App/Shared/utils-coreInventory.js",
"~/App/Reviews/edit-app.js"
    )
}
