@{
    ViewBag.Title = "Reviews of exercises";
    ViewBag.NavItem = "Exercises";
}
<div ng-app="myApp" ng-cloak>
    <div class="row">
        @Html.Partial("_NotAuthenticatedDivPartial", "col-sm-offset-3 col-sm-6")
    </div>
    <div ng-controller="Index_Requests">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="alert alert-warning app-margin-bottom-none" ng-show="vm.unfinishedReviewId">
                    <p class="text-center">
                        You have an <a href="" ng-href="{{vm.unfinishedUrl()}}">unfinished review</a>.
                    </p>
                </div>
                <div ng-show="!vm.unfinishedReviewId">
                    <h4 class="text-center">Requests for reviewing exercises</h4>
                    <table class="table table-condensed app-margin-bottom-none">
                        <thead>
                            <tr>
                                <th>Exercise author</th>
                                <th class="text-right">Length</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Request age</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in vm.requests" ng-class="{'app-last-row':$last}">
                                <td>
                                    <img class="app-avatar" width="16" height="16" ng-src="{{r.authorUserId | appAvatarSmall}}" />{{r.authorName}}
                                </td>
                                <td class="text-right">
                                    {{r.exerciseLength | appMsecToMinSec}}
                                </td>
                                <td class="text-right">
                                    {{r.price | currency:"$"}}
                                </td>
                                <td class="text-right">
                                    {{r.requestTime | appDateAgo}}
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary btn-xs" ng-click="vm.showStartReviewModal(r)">Start</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.requests.length === 0" ng-cloak>
                        There is currently no request for reviewing exercise.
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /ng-controller="Index_Requests" -->
    <hr />
    <div class="row" ng-controller="Index_Reviews">
        <h4 class="text-center">Reviews</h4>
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Started</th>
                        <th>Finished</th>
                        <th>Exercise author</th>
                        <th class="text-right">Length</th>
                        <th class="text-right">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in vm.reviews" ng-class="{'app-last-row':$last}">
                        <td>
                            <span ng-show="r.finishTime">{{r.startTime | appDateTime}}</span>
                            <a ng-href="{{vm.getEditUrl(r)}}" ng-show="!r.finishTime">{{r.startTime | appDateTime}}</a>
                        </td>
                        <td>
                            <a ng-href="{{vm.getEditUrl(r)}}" ng-show="r.finishTime">{{r.finishTime | appDateTime}}</a>
                        </td>
                        <td>
                            <img class="app-2px-up app-avatar" width="16" height="16" ng-src="{{r.authorUserId | appAvatarSmall}}" />{{r.authorName}}
                        </td>
                        <td class="text-right">
                            {{r.exerciseLength | appMsecToMinSec}}
                        </td>
                        <td class="text-right" style="padding-right: 5px;">
                            {{r.price | currency:"$"}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.reviews.length === 0" ng-cloak>
                You have not done any reviews yet.
            </p>
            <div class="pagination-sm" data-pagination data-total-items="vm.pgTotal" data-items-per-page="vm.pgLimit" data-max-size="5" data-boundary-links="true" data-rotate="false"
                 ng-show="vm.pgTotal>vm.pgLimit" ng-model="vm.pgCurrent" ng-change="vm.pgLoad()"></div>
        </div>
    </div><!-- /ng-controller="Index_Reviews" -->
</div><!-- /ng-app="myApp" -->
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/reviews/index.js"
)}
