@{
    ViewBag.Title = "Reviews of exercises";
    ViewBag.NavItem = "Reviews";
}
<div ng-app="myApp" ng-cloak>

    @Html.Partial("_NotAuthenticatedDivPartial", "col-sm-offset-3 col-sm-6 app-margin-bottom ng-cloak")

    <div ng-controller="Requests">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="alert alert-warning app-margin-bottom-none" ng-show="vm.unfinishedReviewId">
                    <p class="text-center">
                        You have an <a href="" ng-href="{{vm.unfinishedUrl()}}">unfinished review</a>.
                    </p>
                </div>
                <div ng-show="!vm.unfinishedReviewId">
                    <h4 class="text-center">Requests for reviewing exercises</h4>
                    <table class="table app-margin-bottom-none">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'app-last-row':$last}" ng-repeat="r in vm.requests">
                                <td>
                                    <i class="fa fa-fw" ng-class="vm.getIcon(r.serviceType).name" title="{{vm.getIcon(r.serviceType).title}}"></i>
                                    {{vm.getIcon(r.serviceType).title}}
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs app-margin-left" ng-click="vm.showStartReviewModal(r)">Start</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.requests.length === 0" ng-cloak>
                        There are no requests for reviewing
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /ng-controller="Requests" -->
    <hr />
    <div class="row" ng-controller="Reviews">
        <h4 class="text-center">Reviews</h4>
        <div class="col-lg-offset-2 col-lg-8">
            <table class="table table-condensed app-margin-bottom-none">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Started</th>
                        <th>Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in vm.reviews" ng-class="{'app-last-row':$last}">
                        <td>
                            <i class="fa fa-fw" ng-class="vm.getIcon(r.serviceType).name" title="{{vm.getIcon(r.serviceType).title}}"></i>
                        </td>
                        <td>
                            <a ng-href="{{vm.getEditUrl(r)}}">{{r.title}}</a>
                        </td>
                        <td>
                            {{r.startTime | appDateTime}}
                        </td>
                        <td>
                            {{r.finishTime | appDateTime}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.reviews.length === 0" ng-cloak>
                You have not done any reviews yet.
            </p>
            <div class="pagination-sm" data-pagination data-total-items="vm.pgTotal" data-items-per-page="vm.pgLimit" data-max-size="5" data-boundary-links="true" data-rotate="false"
                 ng-show="vm.pgTotal>vm.pgLimit" ng-model="vm.pgCurrent" ng-change="vm.pgLoad()"></div>
        </div>
    </div><!-- /ng-controller="Reviews" -->
</div><!-- /ng-app="myApp" -->
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/reviews/index.js"
)}
