@{
    ViewBag.Title = "Reviews";
    ViewBag.NavItem = "Reviews";
}

<div class="row" ng-app="app" ng-cloak>
    <div ng-controller="Ctrl">
        <div ng-show="vm.isEmpty()">
            <p class="text-center">
                You haven't done any reviews yet. Please go to the @Html.ActionLink("Requests", "Requests", "Reviews") page to pick up an exercise for reviewing.
            </p>
            <br />&nbsp;
        </div>

        <div class="col-md-offset-1 col-md-10" ng-hide="vm.isEmpty()">
            <hr class="app-separator" />
            <table id="reviewstable" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Learner</th>
                        <th class="text-right">Length</th>
                        <th class="text-right">Reward</th>
                        <th>Started</th>
                        <th>Finished</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="r in vm.reviews">
                    <tr>
                        <td>
                            {{r.authorName}}
                        </td>
                        <td class="text-right">
                            {{r.exerciseLength | appMsecToMinSec}}
                        </td>
                        <td class="text-right" style="padding-right: 10px;">
                            {{r.reward | number:2}}
                        </td>
                        <td>
                            {{r.startTime | appDateTime}}
                        </td>
                        <td>
                            {{r.finishTime | appDateTime}}
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" ng-href="{{vm.getEditReviewUrl(r)}}">Open&nbsp;<i class="fa fa-angle-double-right app-fa-btn-xs" ></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div pagination class="pagination-sm" total-items="vm.totalCount" items-per-page="vm.limit" ng-model="vm.currentPage" ng-change="vm.getReviews()" max-size="10" boundary-links="true" rotate="false"></div>
        </div>
    </div>
</div>

@using (Html.BeginInstructionsContainer())
{
    <li>&nbsp;</li>
}

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-bootstrap",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/App/Reviews/index-app.js"
)}
