@model IEnumerable<Runnymede.Website.Models.SearchResult>
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <input type="text" id="Q" class="form-control" name="Q" value="" required />
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
}
<br />
<div>
    <ul>
        @foreach (var i in Model)
        {
            <li><a href="@i.Url">@i.Domain</a></li>
        }

    </ul>
</div>

