@{
    ViewBag.Title = "Relationships";
    ViewBag.NavItem = "RelationshipsIndex";
}
<div data-ng-app="app">
    <div data-ng-view=""></div>
</div>
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/App/Relationships/tutors-ctrl.js",
"~/App/Relationships/addTutor-ctrl.js",
"~/App/Relationships/index-app.js"
)
}
