@{
    ViewBag.Title = "Skype Directory";
    ViewBag.NavItem = "Relationships";

    /* +http://stackoverflow.com/questions/2841676/how-to-start-skype-chat-not-call-with-link
     * ?call - Make a call ?add - Add person ?chat - Start chat ?userinfo - View user profile ?voicemail - Leave a voice message ?sendfile - Send a file */      
}
<div data-ng-app="app" data-ng-controller="Ctrl">
    <div class="row">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    This is the list of the learners who joined the directory and indicated that they are available on Skype as partners for practicing speaking English.
                    <br />&nbsp;
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            Because of the Skype security and privacy policy, you need first to send the person a contact request.
                            Click <strong>Add to Contacts</strong> in the Skype client program and enter some text to introduce yourself. When you are done, click <strong>Send</strong>.
                            Although the new contact is added to your contact list, you will only see a question mark
                            <img src="~/Content/Images/skype-no-contact.png" width="14" height="14" />
                            instead of their status icon until they accept your request.
                            When your new contact accepts your request, you can see when they are online, and make free voice and video calls with them.
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/Images/skype-add-contact.png" width="332" height="222" border="1" style="border: 1px solid lightgray; border-radius: 4px;" />
                        </div>
                    </div>
                </div>
            </div>
            <br />&nbsp;
            <table class="table table-condensed" data-ng-show="vm.learners.length > 0">
                <thead>
                    <tr>
                        <th>Skype</th>
                        <th style="text-align: center;">Announcement</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="l in vm.learners">
                    <tr>
                        <td>
                            <a href="skype:{{l.skype}}?add" data-ng-hide="{{l.isSelf}}">
                                <img src="http://www.skypeassets.com/i/scom/images/skype-buttons/Skypeicon_24px.png" width="24" height="24" /> {{l.skype}}
                            </a>
                            <span data-ng-show="{{l.isSelf}}">{{l.skype}}</span>
                        </td>
                        <td>
                            {{l.announcement}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-default btn-xs" data-ng-click="vm.showRemoveDialog()" title="Withdraw yourself from the directory"><i class="fa fa-times fa-fw app-fa-red"></i>Withdraw yourself</button>
                    <br />
                </div>
            </div>
        </div>

    </div>

    <div id="removeDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="removeLabel">Withdraw yourself from the directory</h4>
                </div>
                <div class="modal-body">
                    <p>
                        If you withdraw yourself from the directory of the learners available on Skype, you will be unable to see the directory.
                        <br />
                        Do you want to withdraw yourself from the directory?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-ng-click="vm.remove()">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/app-utils",
"~/bundles/ext-libs",
"~/App/Relationships/skypeDirectory-app.js"
)}
