@{
    ViewBag.Title = "Join the directory and find a speaking partner on Skype";
    ViewBag.NavItem = "Relationships";
}
<form class="form-horizontal" name="mainForm" role="form" data-ng-app="app" data-ng-controller="Ctrl" novalidate>
    <div class="form-group">
        <label for="skype" class="col-sm-5 control-label">Your Skype name</label>
        <div class="col-sm-3">
            <input type="text" id="skype" class="form-control" name="skype" data-ng-model="vm.skype" @(string.IsNullOrEmpty(ViewBag.Skype) ? "autofocus" : "") required data-ng-maxlength="100" />
        </div>
    </div>
    <div class="form-group">
        <label for="announcement" class="col-sm-5 control-label">Your announcement message</label>
        <div class="col-sm-6">
            <textarea rows="4" cols="80" class="form-control" id="announcement" name="announcement" data-ng-model="vm.announcement" @(!string.IsNullOrEmpty(ViewBag.Skype) ? "autofocus" : "") data-ng-maxlength="200" maxlength="200"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.post(mainForm)" data-ng-disabled="mainForm.$invalid || vm.sending">Join the directory</button>
        </div>
    </div>
</form>

@* Pass ReturnUrl from the server to the client. *@
<script type="text/javascript">
        var App = App || {};
        App.skype = '@Html.Raw(ViewBag.Skype)';
</script>
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/app-utils",
"~/bundles/ext-libs",
"~/App/Relationships/skypeDirectoryJoin-app.js"
)}
