@{
    ViewBag.Title = "Tutors";
    ViewBag.NavItem = "Relationships";
}
<div data-ng-app="app">
    <div data-ng-view=""></div>
</div>
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/App/Relationships/tutors-list-ctrl.js",
"~/App/Relationships/tutors-add-ctrl.js",
"~/App/Relationships/tutors-app.js"
)
}
