<hr class="hidden-lg" />
<h4 class="text-center">Choose practice test</h4>
<ul class="list-group">
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Test 6</h5>
        <p class="list-group-item-text">
            <a class="text-nowrap app-margin-left" href="http://englmdata.blob.core.windows.net/content/ielts/listening/test6_section1.mp3" target="_blank">Audio Section 1</a>
            <a class="text-nowrap app-margin-left" href="http://englmdata.blob.core.windows.net/content/ielts/listening/test6_section2.mp3" target="_blank">Audio Section 2</a>
            <a class="text-nowrap app-margin-left" href="http://englmdata.blob.core.windows.net/content/ielts/listening/test6_section3.mp3" target="_blank">Audio Section 3</a>
            <a class="text-nowrap app-margin-left" href="http://englmdata.blob.core.windows.net/content/ielts/listening/test6_section4.mp3" target="_blank">Audio Section 4</a>
            <a class="app-margin-left" href="http://englmdata.blob.core.windows.net/content/ielts/listening/test6_listening.pdf" target="_blank">Questions</a>
        </p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">British Council</h5>
        <p class="list-group-item-text">
            <a class="app-margin-left" href="http://takeielts.britishcouncil.org/prepare-your-test/free-ielts-practice-tests/listening-practice-test-1" target="_blank">Listening practice test</a>
        </p>
    </li>
    @*<li class="list-group-item">
        <h5 class="list-group-item-heading">Exam English</h5>
        <p class="list-group-item-text">
            <a class="app-margin-left" href="http://examenglish.com/IELTS/IELTS_listening_part1.htm" target="_blank">Listening Test 1</a>
            <a class="app-margin-left" href="http://examenglish.com/IELTS/IELTS_listening_test2_part1.htm" target="_blank">Listening Test 2</a>
            <a href="" target="_blank"></a>
        </p>
    </li>*@
</ul>
