@{
    ViewBag.NavItem = "IeltsExercises";
    ViewBag.Title = ServiceType.GetTitle(ServiceType.IeltsSpeaking);
    ViewBag.SecondaryTitle = "Exercise";
}
@section HeadScripts {
    <style>
        label.my-file-label input[type="file"] {
            position: fixed;
            top: -1000px;
            left: -1000px;
        }

        .my-active {
            font-size: larger;
        }

        .my-muted {
            /*color: lightgray;*/
            opacity: 0.2;
            text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
        }
    </style>
}
<div ng-app="myApp" ng-controller="SpeakingMobile">
    <button class="btn app-btn-disablable" ng-class="vm.card ? 'btn-default btn-xs' : 'btn-primary'" ng-disabled="vm.canSave()" ng-click="vm.showChooseCardModal()">Choose questions</button>
    <div class="row" ng-show="vm.card" ng-cloak>
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal app-margin-top" role="form" method="post" name="writingForm" action="/exercises-ielts/save-recordings" enctype="multipart/form-data" ng-submit="vm.onSubmit()">
                <input type="hidden" name="serviceType" value="@ServiceType.IeltsSpeaking" />
                <input type="hidden" name="cardId" ng-value="vm.card.id" />
                <input type="hidden" name="title" ng-value="vm.card.title" />

                <div class="" ng-repeat="i in vm.card.items track by $index">
                    @* Include ngSanitize when using ng-bind-html *@
                    <div class="my-active" ng-bind-html="i.contents" ng-class="{'my-muted' : !vm.isActive($index)}"></div>

                    <label class="my-file-label" ng-show="vm.isActive($index)">
                        @* The input name must be exactly "files[i]" to bind to "IEnumerable<HttpPostedFileBase> files" on the server. The first index must be 0. *@
                        <input type="file" id="{{'file'+$index}}" name="{{'files['+$index+']'}}"
                               capture accept="audio/*" onchange="app.exercisesIelts.SpeakingMobile.onFileChange(event, id)" />
                        <span class="btn btn-primary btn-lg">Record answer</span>
                    </label>
                </div>

                <div class="form-group app-margin-top">
                    <label class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-8 col-lg-10">
                        <textarea class="form-control app-textarea" name="comment" rows="2" placeholder="Write optional comment" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="form-group text-center app-margin-top">
                    @Html.Partial("_NotAuthenticatedSpanPartial")
                    <button type="submit" class="btn btn-primary btn-lg app-btn-disablable" ng-disabled="!vm.canSave()">
                        <i ng-class="{'fa fa-spinner fa-fw fa-spin app-1px-up':vm.uploading}"></i>
                        <span>Save answers</span>
                    </button>
                </div>
            </form>
        </div>
    </div>



</div><!-- ng-controller -->
@section BottomScripts {
    <script>
        app.serviceTypeParam = @JavaScriptConvert.Serialize(ServiceType.IeltsSpeaking);
    </script>
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/exercises/utils.js",
"~/app/exercisesIelts/utils.js",
"~/app/exercisesIelts/speakingMobile.js"
)}
