<div class="modal-header">
    <h3>Choose a test card</h3>
</div>
<div class="modal-body">
    <accordion close-others="vm">
        <accordion-group is-open="c.open" ng-repeat="c in vm.cards">
            <accordion-heading>
                <span class="app-appblue">{{c.title}}</span>
            </accordion-heading>
            <div ng-repeat="i in c.items" >
                <div ng-bind-html="i.contents"></div>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-primary app-btn-disablable" ng-click="vm.ok()" ng-disabled="!vm.canOk()">OK</button>
    <a href="" class="app-close" ng-click="vm.cancel()">Close</a>
</div>
