<div class="row">
    <div class="col-md-3">
        <a href="#/tutors-add">Add a tutor</a>
    </div>
    <div class="col-md-6">
        <table class="table table-condensed table-hover" ng-hide="vm.tutors.length === 0">
            <caption style="text-align:center;"><strong>Your favorite tutors</strong></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rate, $/min</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-ng-repeat="t in vm.tutors">
                <tr>
                    <td>
                        {{t.displayName}}
                    </td>
                    <td>
                        {{t.rateARec | number:2}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" data-ng-click="vm.removeTutor(t)" title="Remove"><i class="fa fa-times fa-fw"></i> Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

