<h3 class="page-header">{{title}}</h3>
<div>
    <form class="form-horizontal" name="mainForm" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="oldPassword">Current password</label>
            <div class="col-sm-3">
                <input type="password" id="oldPassword" class="form-control" name="oldPassword" data-ng-model="vm.oldPassword" required />
                <p class="help-block">&nbsp;</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="newPassword1">New password</label>
            <div class="col-sm-3">
                <input type="password" id="newPassword1" class="form-control" name="newPassword1" data-ng-model="vm.newPassword1" ng-minlength="8" required />
                <p class="help-block"><small>Minimum 8 characters.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="newPassword2">New password again</label>
            <div class="col-sm-3">
                <input type="password" id="newPassword2" class="form-control" name="newPassword2" data-ng-model="vm.newPassword2" ng-minlength="8" required />
                <p class="help-block">&nbsp;</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-6">
                <button type="submit" class="btn btn-primary" data-ng-click="vm.save(mainForm)" data-ng-disabled="mainForm.$invalid || vm.sending">Save</button>
            </div>
        </div>
    </form>

</div>
