<h3 class="page-header">{{pageTitle}}</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>Personal</li>
                    <li><a href="#/logins">Manage&nbsp;logins</a></li>
                    <li ng-if="vm.isTeacher" ng-cloak><a href="#/teacher">Teacher</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <p>
            You are signed in as <strong>{{vm.profile.userName}}</strong>.
            <a href="#/logins">Manage&nbsp;logins.</a>
        </p>
        <div data-ng-if="vm.profile.isTeacher">
            <hr class="app-separator" />
            <p>
                You have got the <strong>Teacher</strong> status.
                <a href="#/teacher">Edit your teacher profile.</a>
            </p>
        </div>
        <hr class="app-separator" />
        <p ng-show="vm.profile.emailConfirmed">
            Email address <strong>{{vm.profile.email}}</strong> 
        </p>
        <form class="form-horizontal" name="emailForm" role="form" ng-show="!vm.profile.emailConfirmed" novalidate>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="email">Email address</label>
                <div class="col-sm-4">
                    <input type="email" id="email" name="email" class="form-control" ng-model="vm.newEmail" />
                </div>
                <div class="col-sm-4" style="padding-top: 7px;">
                    <span class="text-danger">Not verified</span>
                    &nbsp;&nbsp; <span ng-show="vm.linkSent"><small>Verification link sent</small></span>
                </div>
            </div>
            <div class="form-group" ng-hide="vm.linkSent">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" class="btn btn-default" ng-click="vm.sendEmailLink()" ng-disabled="vm.sending">Send verification link</button>
                </div>
            </div>
        </form>

        <hr class="app-separator" />
        <form class="form-horizontal" name="mainForm" role="form" novalidate>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="displayName">Name</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" id="displayName" class="form-control" name="displayName" data-ng-model="vm.profile.displayName" ng-maxlength="100" />
                            <!-- Your pen name will appear alongside anything you post to the site. -->
                        </div>
                        <div class="col-sm-6">
                            <span data-ng-show="vm.displayNameChanged"><small class="text-success">Name changed. You will see the new name in the top bar after you sign out and sign in again.</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="name">Skype name</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" id="skype" class="form-control" name="skype" data-ng-model="vm.profile.skype" ng-maxlength="100" />
                        </div>
                        <div class="col-sm-6">
                            <span data-ng-show="vm.skypeChanged"><small class="text-success">Skype name changed.</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" class="btn btn-default" data-ng-click="vm.save(mainForm)" data-ng-disabled="mainForm.$pristine || vm.sending">Save</button>
                </div>
            </div>
        </form>
        <hr class="app-separator" />
        <p><strong>Avatar picture</strong></p>
        <div class="row">
            <div class="col-sm-5">
                &nbsp;&nbsp;<img class="img-thumbnail" ng-src="{{vm.profile.avatarLargeUrl}}" width="130" height="130" />&nbsp;&nbsp;
                <img class="img-thumbnail" ng-src="{{vm.profile.avatarSmallUrl}}" width="46" height="46" />
            </div>
            <div class="col-sm-7">
                <p>You can upload a new avatar picture.</p>
                <br />
                <!-- upload-options-before-submit does not work -->
                <form method='post' action="upload-avatar" ng-upload="vm.complete(content)" ng-upload-loading="vm.startUploading()">
                    <input type="file" name="avatarFile" />
                    <br />
                    <input type="submit" class="btn btn-default" value="Upload" ng-disabled="$isUploading" />
                    <!--<input type="reset" class="btn btn-default btn-sm col-sm-offset-1" value="Reset">-->
                </form>
            </div>
        </div>


    </div>
</div>