<div ng-cloak>
    <div class="row">
        <div class="col-md-4 app-margin-bottom">
            <button class="btn btn-primary" style="margin-right:20px;" ng-click="vm.showCreateRequestModal()" ng-show="!vm.exercise.reviews.length">Request&nbsp;review</button>
            <button class="btn btn-default" ng-click="showQuestions = !showQuestions">{{showQuestions ? '&nbsp;Hide' : 'Show'}}&nbsp;questions</button>
        </div>
        <div class="col-md-8 col-lg-7">
            <div class="well" collapse="!showQuestions">
                <div ng-repeat="i in vm.card.items">
                    @* Include ngSanitize for using ng-bind-html *@
                    <p ng-bind-html="i.contents"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><strong>Title</strong></span>
                <input type="text" class="form-control" ng-model="vm.exercise.title" maxlength="100">
                <span ng-class="vm.isTitleDirty() ? 'input-group-btn' : 'input-group-addon'">
                    <button type="button" class="btn btn-default" ng-show="vm.isTitleDirty()" ng-click="vm.saveTitle()">
                        <i class="fa fa-check fa-fw text-success animated flash app-fa-pulse"></i><span>Save</span>
                    </button>
                </span>
            </div><!-- /input-group -->
            <p class="app-margin-top app-margin-bottom-none">
                <strong>Comment:</strong> {{vm.exercise.comment}}
            </p>
        </div>
        @*<div class="col-md-4" ng-show="vm.canEditLength()">
                <div class="hidden-lg hidden-md">&nbsp;</div>
                <div class="input-group">
                    <span class="input-group-addon"><strong>Word count</strong></span>
                    <input type="text" class="form-control" ng-model="vm.exercise.length" maxlength="4">
                    <span ng-class="vm.isLengthDirty() ? 'input-group-btn' : 'input-group-addon'">
                        <button type="button" class="btn btn-default" ng-show="vm.isLengthDirty()" ng-click="vm.saveLength()">
                            <i class="fa fa-check fa-fw text-success animated flash app-fa-pulse"></i><span>Save</span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div>*@
    </div>
</div>

