@{
    ViewBag.NavItem = "Exercises";
}
<style>
    .table > tbody > tr.app-row-review > td {
        border-top-color: transparent;
    }
</style>

<div ng-app="myApp" ng-cloak>
    <div ng-controller="Index">
        <div class="row">
            <div class="col-md-8">
                <h3 class="page-header app">Exercises <small>{{secondaryTitle}}</small></h3>
            </div>
            <div class="col-md-4 app-margin-bottom">
                <ul class="nav nav-pills app-nav-pills">
                    <li data-ui-sref-active="active">
                        <a href="" data-ui-sref="@Runnymede.Website.Models.ExerciseType.AudioRecording"><i class="fa fa-comment-o fa-fw app-appyellow"></i>&nbsp;Speaking</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a href="" data-ui-sref="@Runnymede.Website.Models.ExerciseType.WritingPhoto"><i class="fa fa-pencil fa-fw app-appyellow"></i>&nbsp;Writing</a>
                    </li>
                </ul>
            </div>
        </div>
        <h4 class="text-center app-margin-top-none app-margin-bottom-none">
            <span ng-show="vm.isStateSpeaking()">
                <span class="text-nowrap"><i class="fa fa-microphone fa-fw app-appblue"></i>&nbsp;@Html.ActionLink("Record speech", "RecordSpeech", "Exercises")</span>
                <span class="text-nowrap"><i class="fa fa-skype fa-fw app-margin-left"></i>&nbsp;@Html.ActionLink("Record Skype conversation", "Index", "RecorderForSkype")</span>
            </span>
            <span ng-show="vm.isStateWriting()">
                <span class="text-nowrap"><i class="fa fa-camera fa-fw app-margin-left app-appblue"></i>&nbsp;@Html.ActionLink("Photograph written text", "PhotographWriting", "Exercises")</span>
            </span>
        </h4>
        <hr />
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="text-right">Length</th>
                            <th>Created</th>
                            <th>Reviews</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="e in vm.exercises">
                        <tr>
                            <td>
                                <a ng-href="{{vm.getViewUrl(e)}}">{{e.title}}</a>
                            </td>
                            <td class="text-right" style="padding-right: 10px;">
                                {{e.length | appLength : e.type}}
                            </td>
                            <td style="padding-right: 10px;">
                                {{e.createTime | appDateHuman}}
                            </td>
                            <td>
                                <button class="btn btn-xs" ng-class="(e.reviews.length > 0)?'btn-default':'btn-primary'" ng-click="vm.showCreateRequestModal(e)">Request&nbsp;review</button>
                                <ul>
                                    <li class="app-row-review" ng-repeat="r in e.reviews">
                                        <span ng-class="vm.getReviewStatusStyle(r)"><strong>{{vm.getReviewStatusText(r)}}</strong></span>
                                        &nbsp;{{vm.getReviewStatusTime(r) | appDate}} -&nbsp;{{r.reviewerName}} &nbsp;Price:&nbsp;{{r.price | number:2}}
                                        <button class="btn btn-default btn-xs" style="margin-left:5px;" ng-show="!(r.cancelationTime || r.startTime)" ng-click="vm.showCancelRequestModal(r)">Cancel</button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.isEmpty()" ng-cloak>
                    You have not done any exercises yet.
                </p>
                <div class="pagination-sm" data-pagination data-total-items="vm.pgTotal" data-items-per-page="vm.pgLimit" data-max-size="5" data-boundary-links="true" data-rotate="false"
                     ng-show="vm.pgTotal>vm.pgLimit" ng-model="vm.pgCurrent" ng-change="vm.pgLoad()"></div>
            </div>
        </div>

    </div><!-- /ng-controller="Ctrl" -->
    <!-- Modals -->
    <!-- cancelRequestModal -->
    <script type="text/ng-template" id="cancelRequestModal">
        <div class="modal-header">
            <h3>Cancel review request</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>
                        Review request created on <strong>{{vm.modalParams.review.requestTime | appDate }}</strong>
                        for exercise &quot;<strong>{{vm.modalParams.exercise.title}}</strong>&quot; will be canceled.
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary app-btn-disablable" ng-click="vm.ok()" ng-disabled="vm.busy">OK</button>
            <a href="" class="app-close" ng-click="vm.cancel()">Close</a>
        </div>
    </script>
    <!-- /cancelRequestModal -->
    <!-- /Modals -->
</div><!-- /ng-app="myApp" -->
@*@using (Html.BeginInstructionsContainer())
    {
        <ul>
            <li>Press the <em>Record a monologue</em> button to record a speech.</li>
            <li>You can click an exercise title to edit its title, listen to it and view remarks when reviews are ready.</li>
            <li>If an exercise has not been offered for reviewing, you can delete it by pressing the <em>Delete</em> button in the exercise row. </li>
            <li>To offer an exercise for reviewing, press the <em>Offer for reviewing</em> button in the exercise row. </li>
            <li>The list is refreshed every 2 minutes.</li>
        </ul>
    }*@
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/exercises/createReviewRequest.js",
"~/app/exercises/index.js"
)}
