@{
    ViewBag.Title = "Exercises";
    ViewBag.NavItem = "Exercises";
}
<div class="row" ng-app="app" ng-cloak>
    <div ng-controller="Ctrl">
        <div ng-show="vm.isEmpty()">
            <p class="text-center">
                You have not done any exercises yet.
            </p>
            <br />&nbsp;
        </div>
        <div class="row">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-offset-1 col-md-3">
                <a href="@Url.Action("Topics")" class="btn btn-primary btn-block">Record a monologue &raquo;</a>
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-offset-1 col-md-3">
                <a href="http://blob.englc.com/recorder/EnglishCosmosSkypeRecorder.exe" class="btn btn-primary btn-block">Record a Skype conversation &raquo;</a>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10" ng-hide="vm.isEmpty()">
            <hr class="app-separator" />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th style="text-align: right;">Length</th>
                        <th>Created</th>
                        <th>Review status</th>
                        <th style="text-align: right;">Reward</th>
                    </tr>
                </thead>
                <tbody ng-repeat="e in vm.exercises">
                    <tr>
                        <td>
                            <a ng-href="{{App.Utils.reviewsUrl('view/' + e.id)}}">{{e.title}}</a>
                        </td>
                        <td style="text-align: right;">
                            {{e.length | appMsecToMinSec}}
                        </td>
                        <td>
                            {{e.createTime | appDate}}
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="vm.showCreateRequestModal(e)">Request&nbsp;review</button>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="app-row-review" ng-repeat="r in e.reviews">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span ng-class="vm.getReviewStatusStyle(r)"><strong>{{vm.getReviewStatusText(r)}}</strong></span>&nbsp;&nbsp;{{vm.getReviewStatusTime(r) | appDate}}
                            <button class="btn btn-default btn-xs" ng-show="!(r.cancelTime || r.startTime)" ng-click="vm.showCancelRequestModal(r)">Cancel</button>
                        </td>
                        <td style="text-align: right;">
                            {{r.reward | number:2}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination class="pagination-sm" total-items="vm.totalCount" items-per-page="vm.limit" ng-model="vm.currentPage" ng-change="vm.getExercises()" max-size="10" boundary-links="true" rotate="false"></pagination>
        </div>
    </div><!-- /ng-controller="Ctrl" -->
    <!-- Modals -->
    <!-- createRequestDialog.html -->
    <script type="text/ng-template" id="createRequestDialog.html">
        <div class="modal-header">
            <h3>Request a review of the exercise</h3>
        </div>
        @* The form will not submit on Enter keypress until it contains a button. So the form tag wraps all the footer too, not the input section alone. *@
        <form class="form-horizontal" ng-submit="vm.ok()">
            <div class="modal-body">
                <p data-bind="with: dialogExercise">
                    You are requesting a review of exercise &quot;<strong>{{vm.modalParams.exercise.title}}</strong>&quot;
                    created on <strong>{{vm.modalParams.exercise.createTime | appDate}}</strong>.
                    It has length <strong>{{vm.modalParams.exercise.length | appMsecToMinSec}}</strong> minutes:seconds.
                </p>
                <hr class="app-separator" />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.anyReviewer" ng-disabled="vm.teachers.length === 0" />&nbsp;Any teacher can review the exercise
                    </label>
                </div>
                <div ng-show="vm.teachers.length === 0">
                    To be able to select a particular teacher, first add him or her to your @Html.ActionLink("favorite teacher list", "Teachers", "Relationships", null, new { @class = "" }).
                </div>
                <div ng-show="!vm.anyReviewer">
                    <br />
                    Select the teacher who you ask to review the exercise.
                    <select ng-model="vm.selectedTeacher" ng-options="t.displayName for t in vm.teachers">
                        <option value="">-- select teacher --</option>
                    </select>
                </div>
                <hr class="app-separator" />
                <p>
                    Your account balance is currently <strong>{{vm.balance | number:2}}</strong>&nbsp;dollars.
                    <span ng-show="vm.balance === 0">@Html.ActionLink("Add money to account »", "AddMoney", "Account", "https", null, null, null, new { @class = "btn btn-primary btn-sm" })</span>
                </p>
                <p>
                    Please enter the amount of money that you are offering to the teacher as a reward for reviewing the exercise.
                </p>
                <p ng-show="vm.selectedTeacher">
                    Suggested reward is {{vm.suggestedReward() | number:2}}, it depends on the exercise length and the teacher's rate.
                </p>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="reward1">Enter the reward</label>
                    <div class="col-sm-2">
                        <input type="text" id="reward1" class="form-control" ng-model="vm.reward1" autocomplete="off" autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="reward2">Enter the reward again</label>
                    <div class="col-sm-2">
                        <input type="text" id="reward2" class="form-control" ng-model="vm.reward2" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="vm.ok()" data-ng-disabled="vm.executing || vm.disabled()">OK</button>
                <button class="btn btn-default" data-ng-click="vm.cancel()">Close</button>
            </div>
        </form>
    </script>
    <!-- /createRequestDialog.html -->
    <!-- cancelRequestDialog.html -->
    <script type="text/ng-template" id="cancelRequestDialog.html">
        <div class="modal-header">
            <h3>Cancel review request</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>
                        Review request created on <strong>{{vm.modalParams.review.requestTime | appDate }}</strong>
                        for exercise &quot;<strong>{{vm.modalParams.exercise.title}}</strong>&quot; will be canceled.
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="vm.ok()" data-ng-disabled="vm.executing">OK</button>
            <button class="btn btn-default" data-ng-click="vm.cancel()">Close</button>
        </div>
    </script>
    <!-- /cancelRequestDialog.html -->
    <!-- /Modals -->
</div><!-- /ng-app="app" -->
@using (Html.BeginInstructionsContainer())
{
    <li>You can press the <em>Record a monologue</em> button to record a speech.</li>
    <li>You can click an exercise title to edit its title, listen to it and view remarks when reviews are ready.</li>
    <li>If an exercise has not been offered for reviewing, you can delete it by pressing the <em>Delete</em> button in the exercise row. </li>
    <li>To offer an exercise for reviewing, press the <em>Offer for reviewing</em> button in the exercise row. </li>
    <li>The list is refreshed every 2 minutes.</li>
}
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-bootstrap",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/App/Exercises/index-app.js"
)}
