@{
    ViewBag.Title = "Choose topic";
}
@section HeadScripts {
    <style type="text/css" media="screen">
        .app-topic-title {
            color: #ac1f28;
        }
    </style>
}
<div class="row" data-ng-app="app" data-ng-controller="Ctrl">
    <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-primary" data-ng-click="vm.save()" data-ng-disabled="!vm.selectedTopic">Go to the recording page &raquo;</button><br />
        <br />

        <label class="radio app-topic-title">
            <input type="radio" name="topicGroup" value="{{vm.ownTopic.topic}}" data-ng-model="vm.selectedTopic">Your arbitrary topic
        </label>
        <div data-ng-show="vm.isOwnTopic()">
            @* ExercisesController.MaxExerciseTitleLength = 50 *@
            <input type="text" data-ng-model="vm.ownTopic.title" size="100" maxlength="100" required placeholder="Describe your topic here (maximum 100 characters.)" />
        </div>

        <div data-ng-repeat="t in vm.topics">
            <label class="radio app-topic-title">
                <input type="radio" name="topicGroup" value="{{t.topic}}" data-ng-model="vm.selectedTopic">{{t.title}}
            </label>
            <ul data-ng-repeat="l in t.lines">
                <li>{{l}}</li>
            </ul>
        </div>

        <button class="btn btn-primary" data-ng-click="vm.save()" data-ng-disabled="!vm.selectedTopic">Go to the recording page &raquo;</button><br />
    </div>
</div>

@using (Html.BeginInstructionsContainer())
{
    <li>Select the topic of your speech.</li>
    <li>You can choose a topic of your choice. Select the first option <em>Your arbitrary topic</em></li>
    <li>Press the <em>Go to the recorder page</em> button to go to the <em>Record exercise</em> page and record a speech.</li>
}
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/app-utils",
"~/bundles/ext-libs",
"~/App/Exercises/topics-topicList.js",
"~/App/Exercises/topics-ctrl.js"
)}
