@{
    ViewBag.Title = "Resources";
    ViewBag.NavItem = "Resources";
    var videoId = "M7lc1UVf-VE";
    var origin = "dev.englc.com";

    /*+http://www.youtube.com/watch?v=M7lc1UVf-VE*/
}
@*<div id="player"></div>*@

<div data-ng-app="app">
    <div data-ng-view=""></div>
</div>

@section BottomScripts {
    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        //firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player',
                {
                    height: '390',
                    width: '640',
                    videoId: '@videoId',
                    playerVars: {
                        enablejsapi: 1,
                        iv_load_policy: 3,
                        modestbranding: 1,
                        origin: '@origin',
                        rel: 0,
                        showinfo: 0,
                        theme: 'light'
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
        }

        function onPlayerReady(event) {
            //event.target.playVideo();
        }

        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
    </script>

@Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/App/Resources/index-search.js",
"~/App/Resources/index-app.js"
)
}