
@{
    ViewBag.NavItem = "Resources";
    ViewBag.Title = "YouTube resources";
}

<div data-ng-app="app">
    <div data-ng-view=""></div>
</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/App/Resources/youtube-add.js",
"~/App/Resources/youtube-app.js"
)
}






