@using Runnymede.Website.Controllers.Mvc
@model AccountController.PayPalPaymentResult
@{
    ViewBag.Title = "Balance";
    ViewBag.NavItem = "Account";
    var pageViewModel = new Runnymede.Website.Models.PageViewModel(this);

    string alertText = null;
    string alertStyle = null;
    //var result = ViewBag.PayPalPaymentResult != null
    //    ? (AccountController.PayPalPaymentResult)ViewBag.PayPalPaymentResult
    //    : AccountController.PayPalPaymentResult.None;
    switch (Model)
    {
        case AccountController.PayPalPaymentResult.Success:
            alertText = "Thank you for your payment!";
            alertStyle = "alert-success";
            break;
        case AccountController.PayPalPaymentResult.Canceled:
            alertText = "Payment canceled.";
            alertStyle = "alert-warning";
            break;
        default:
            break;
    }
}
<div class="row" ng-app="app" ng-controller="Ctrl">
    <div class="col-md-offset-1 col-md-10">

        @if (!string.IsNullOrEmpty(alertText))
        {
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 alert @alertStyle">
                    <p class="text-center">
                        @alertText
                    </p>
                </div>
            </div>
        }
        @if (!pageViewModel.IsTeacher)
        {
            <div class="row">
                <div class="col-sm-3">
                    <a href="@Url.Action("AddMoney")" class="btn btn-primary">Add money to account</a>
                </div>
            </div>
            <br />
        }
        
        <table class="table table-bordered table-condensed">
            <thead class="theme-red">
                <tr>
                    <th>Time</th>
                    <th>Description</th>
                    <th style="text-align: right;">Amount, USD</th>
                    <th style="text-align: right;">Balance, USD</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in vm.entries">
                    <td>
                        {{e.observedTime | appDate}}
                    </td>
                    <td>
                        {{e.description}}
                    </td>
                    <td style="text-align: right;">
                        {{e.credit - e.debit}}
                    </td>
                    <td style="text-align: right;">
                        {{e.balance | number:2}}
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" total-items="vm.totalCount" items-per-page="vm.limit" ng-model="vm.currentPage" ng-change="vm.getEntries()" max-size="10" boundary-links="true" rotate="false"></pagination>
    </div>
</div>

@using (Html.BeginInstructionsContainer())
{
    <li>Amounts are US dollars.</li>
}

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-bootstrap",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/App/Account/balance-app.js"
    )
}
