@using Runnymede.Website.Controllers
@model AccountController.PayPalPaymentResult
@{
    ViewBag.Title = "Balance";
    ViewBag.NavItem = "Account";
    var pageViewModel = new Runnymede.Website.Models.PageViewModel(this);

    string alertText = null;
    string alertStyle = null;
    //var result = ViewBag.PayPalPaymentResult != null
    //    ? (AccountController.PayPalPaymentResult)ViewBag.PayPalPaymentResult
    //    : AccountController.PayPalPaymentResult.None;
    switch (Model)
    {
        case AccountController.PayPalPaymentResult.Success:
            alertText = "Thank you for your payment!";
            alertStyle = "alert-success";
            break;
        case AccountController.PayPalPaymentResult.Canceled:
            alertText = "Payment canceled.";
            alertStyle = "alert-warning";
            break;
        default:
            break;
    }
}
@if (!string.IsNullOrEmpty(alertText))
{
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 alert @alertStyle">
            <p class="text-center">
                @alertText
            </p>
        </div>
    </div>
}
@if (!pageViewModel.IsTutor)
{
    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("AddMoney")" class="btn btn-primary">Add money to account</a>
        </div>
    </div>
    <br />
}
<table class="table table-bordered table-condensed" data-bind="if: entries().length > 0">
    <thead class="theme-red">
        <tr>
            <th>Time</th>
            <th>Description</th>
            <th style="text-align: right;">Debit, USD</th>
            <th style="text-align: right;">Credit, USD</th>
            <th style="text-align: right;">Balance, USD</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: entries">
        <tr>
            <td>
                <span data-bind="text: observedTime"></span>
            </td>
            <td>
                <span data-bind="text: description"></span>
            </td>
            <td style="text-align: right;">
                <span data-bind="text: debit"></span>
            </td>
            <td style="text-align: right;">
                <span data-bind="text: credit"></span>
            </td>
            <td style="text-align: right;">
                <span data-bind="text: balance"></span>
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("_PagerPartial", "entries")

@using (Html.BeginInstructionsContainer())
{
    <li>Amounts are US dollars.</li>
}

@*<div data-bind="text: ko.toJSON($root.entries())"></div>*@

@section BottomScripts {
    @Scripts.Render(
"~/bundles/knockout",
"~/bundles/jsextlibs",
"~/bundles/ext-libs",
"~/bundles/app",
"~/App/Account/balance-vm.js"
    )
}
