@{
    ViewBag.Title = "Create Account";
}
<div data-ng-app="app" data-ng-controller="Ctrl">
    <form class="form-horizontal" name="mainForm" role="form" data-ng-hide="vm.done" novalidate>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="userName">Your email address</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="email" id="userName" class="form-control" name="userName" data-ng-model="vm.userName" required autofocus />
                    </div>
                </div>
                <p class="help-block"><small>You will use this email address as a username for signing into your English Cosmos account.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password">Choose a password</label>
            <div class="col-sm-4">
                <input type="password" id="password" class="form-control" name="password" data-ng-model="vm.password" data-ng-minlength="8" required />
                <p class="help-block"><small>Minimum 8 characters.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="name">Your name</label>
            <div class="col-sm-4">
                <input type="text" id="displayName" class="form-control" name="displayName" data-ng-model="vm.displayName" ng-maxlength="100" />
                <p class="help-block"><small>This name will be visible to other users.</small></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="consent" name="consent" value="true" data-ng-model="vm.consent" />
                        <span>&nbsp;By activating this checkbox, you agree to the @Html.ActionLink(HttpUtility.HtmlDecode("Terms&nbsp;of&nbsp;Service"), "TermsOfService", "Info", null, new { @tabindex = "-1" })</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-primary" data-ng-click="vm.post(mainForm)" data-ng-disabled="mainForm.$invalid || !vm.consent || vm.sending">Create account</button>
            </div>
        </div>
    </form>

    <div class="row" data-ng-show="vm.done">
        <div class="col-sm-offset-2 col-sm-8 alert alert-success">
            <p class="text-center">
                Thank you for joining English Cosmos!
            </p>
            <p>
                We have sent an email to <strong>{{vm.userName}}</strong> with a confirmation link. Please check your email and click on the link.
            </p>
            <p>
                If you would like to become a teacher, you can find further instructions on the @Html.ActionLink("FAQ", "Faq", "Info", null, null, "becomingteacher", null, null) page.
            </p>
        </div>
    </div>
</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/App/Account/utils-account.js",
"~/App/Account/create-app.js"
)
}
