@{
    ViewBag.Title = "Forgot password";
}

<div data-ng-app="app" data-ng-controller="Ctrl">
    <form class="form-horizontal" name="mainForm" role="form" data-ng-hide="vm.done" novalidate>
        <p class="col-sm-offset-2 col-sm-8">
            If you have forgotten your password for English Cosmos, just enter the email address you used when you created the account. We will send you an email with instructions for resetting your password.
            <br />
            &nbsp;
        </p>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="email">Email address</label>
            <div class="col-sm-4">
                <input type="email" id="email" class="form-control" name="email" data-ng-model="vm.email" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-primary" data-ng-click="vm.post(mainForm)" data-ng-disabled="mainForm.$invalid || vm.sending">Send email</button>
            </div>
        </div>
    </form>

    <div class="row" data-ng-show="vm.done">
        <div class="col-sm-offset-2 col-sm-8 alert alert-info">
            <p>
                If the email address <strong>{{vm.email}}</strong> entered by you is found in our records, we will instantly send you an email with instructions on how to reset your password.
            </p>
            <p>
                If you do not receive the message within a few minutes, please also check your Spam folder.
            </p>
            <p>
                The password reset will expire in 24 hours.
            </p>
        </div>
    </div>
</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/App/Account/forgot-app.js"
)
}
