@{
    ViewBag.Title = "Payment Success";
}
<p>
    Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you.
</p>
<p>
    You may log into your account at <a href="https://www.paypal.com/" target="blank">PayPal</a> to view details of this transaction.
</p>