@{
    ViewBag.Title = "Change password after reset";
}

<div data-ng-app="app" data-ng-controller="Ctrl">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8">
            <p class="text-warning">Warning! The password typed in is visible.</p>
        </div>
    </div>
    <form class="form-horizontal" name="mainForm" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password">New password</label>
            <div class="col-sm-3">
                <input type="text" id="password" class="form-control" name="password" data-ng-model="vm.password" ng-minlength="6" required />
            </div>
            <div class="col-sm-5">
                <p class="help-block"><small>Minimum 6 characters.</small></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-primary" data-ng-click="vm.post(mainForm)" data-ng-disabled="mainForm.$invalid || vm.sending">Save</button>
            </div>
        </div>
    </form>
</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/App/Account/reset-app.js"
)
}
