@{
    ViewBag.Title = "Create an account";
}
<style>
    #password2 {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    /* Compliment the border style of form-control */
    #pwd-addon {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #tos {
        max-height: 600px;
        overflow: auto;
    }

    .app-separator-or {
        margin-top: 10px;
        /* Font style copied from h4 */
        font-size: 17px;
        font-weight: 500;
        line-height: 1.1;
    }
</style>

<div class="row" ng-app="myApp" data-ng-controller="Signup" ng-cloak>
    <div class="col-md-offset-1 col-md-6">
        @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4>Sign up using your Facebook account</h4>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-block" id="Facebook" name="provider" value="Facebook" title="Sign up using your Facebook account"><i class="fa fa-facebook fa-fw fa-lg"></i> Sign up</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-5"><hr /></div>
                <div class="col-sm-2 text-center app-separator-or app-appred">or</div>
                <div class="col-sm-5"><hr /></div>
            </div>
            <h4>Sign up using your Google account</h4>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-block" id="Google" name="provider" value="Google" title="Sign up using your Google account"><i class="fa fa-google fa-fw fa-lg"></i> Sign up</button>
                </div>
            </div>
        }
        <br />
        <div class="row">
            <div class="col-sm-5"><hr /></div>
            <div class="col-sm-2 text-center app-separator-or app-appred">or</div>
            <div class="col-sm-5"><hr /></div>
        </div>

        <h4>Sign up with password</h4>
        <form class="form-horizontal app-margin-top" name="mainForm" role="form" novalidate>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="email">Your email address</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" id="email" class="form-control" ng-class="{'app-invalid':!vm.isEmailValid()}" ng-model="vm.email" autofocus />
                        </div>
                    </div>
                    <p class="help-block"><small>This email address will be your login name. It&nbsp;will&nbsp;not be shown publicly.</small></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">New password</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                @* ng-minlength prevents setting ng-model if the input is invalid, so we lose the value when we switch between the two modes *@
                                <input type="password" id="password1" class="form-control"
                                       ng-class="{'app-invalid':!vm.isPwdValid()}" ng-model="vm.password" ng-show="!vm.showPwd" required autocomplete="off" />
                                <input type="text" id="password2" class="form-control"
                                       ng-class="{'app-invalid':!vm.isPwdValid()}" ng-model="vm.password" ng-show="vm.showPwd" required autocomplete="off" />
                                <span id="pwd-addon" class="input-group-addon" style="background-color:inherit;">
                                    <input type="checkbox" style="vertical-align:middle;" ng-model="vm.showPwd" ng-click="vm.focusPwd()" tabindex="-1">&nbsp;<small style="position:relative; top:1px;">Show</small>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <p class="help-block"><small>Minimum 6 characters.</small></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="name">Your name</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" id="name" class="form-control" name="name" ng-model="vm.name" ng-maxlength="100" />
                        </div>
                    </div>
                    <p class="help-block"><small>This name will be visible to other users. Please use Latin letters.</small></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-block app-btn-disablable" ng-click="vm.post(mainForm)" ng-disabled="vm.sending">
                        Sign up
                    </button>
                </div>
            </div>
        </form>
        <div class="row app-margin-bottom">
            <div class="col-sm-offset-4 col-sm-8">
                By creating an account, you agree to our <a href="javascript:;" ng-click="isVisible = !isVisible">Terms&nbsp;of&nbsp;Service</a>.
            </div>
        </div>
    </div>

    <div class="col-md-5" ng-if="!isVisible">
        <h4>Benefits of creating a free user account</h4>
        <ul>
            <li>Record speaking exercises.</li>
            <li>Find speaking partners.</li>
            <li>Find learning resources with the optimal language level.</li>
            <li>Manage your personal collection of learning resources.</li>
        </ul>
    </div>
    <div class="col-md-5" ng-if="isVisible">
        <h4>Terms of Service</h4>
        <div id="tos">
            <small>
                @Html.Partial("_TermsOfServicePartial")
            </small>
        </div>
    </div>
</div>
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/account/signup.js"
)
}
