@using Runnymede.Website.Controllers.Mvc
@model AccountController.PayPalPaymentResult
@{
    ViewBag.Title = "Transactions with reviews";
    ViewBag.NavItem = "Account";
    var pageViewModel = new Runnymede.Website.Models.PageViewModel(this);

    string alertText = null;
    string alertStyle = null;
    //var result = ViewBag.PayPalPaymentResult != null
    //    ? (AccountController.PayPalPaymentResult)ViewBag.PayPalPaymentResult
    //    : AccountController.PayPalPaymentResult.None;
    switch (Model)
    {
        case AccountController.PayPalPaymentResult.Success:
            alertText = "Thank you for your payment!";
            alertStyle = "alert-success";
            break;
        case AccountController.PayPalPaymentResult.Canceled:
            alertText = "Payment canceled.";
            alertStyle = "alert-warning";
            break;
        default:
            break;
    }
}
<div ng-app="myApp" ng-controller="TransactionsReviews">
    <div class="row" ng-cloak>
        <div class="col-md-offset-1 col-md-10">

            @if (!String.IsNullOrEmpty(alertText))
            {
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-4 alert @alertStyle">
                        <p class="text-center">
                            @alertText
                        </p>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm-7">
                    <p ng-show="vm.balance !== undefined">
                        Your can request <strong>{{vm.balance | number:0}}</strong> review{{(vm.balance == 1 ? '' : 's')}} of exercises.
                        @*<span ng-show="vm.balance === null">You have not bought any reviews yet.</span>*@
                    </p>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <a href="@Url.Action("BuyReviews")" class="btn btn-primary">Buy reviews</a>
                </div>
            </div>
            <hr />
            <h4 class="text-center">Transaction history</h4>
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Description</th>
                        <th class="text-right">Change</th>
                        <th class="text-right">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in vm.entries">
                        <td>
                            {{e.observedTime | appDateTime}}
                        </td>
                        <td>
                            {{e.description}}
                        </td>
                        <td class="text-right">
                            {{e.credit - e.debit | number:0}}
                        </td>
                        <td class="text-right">
                            {{e.balance | number:0}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-sm" data-pagination data-total-items="vm.pgTotal" data-items-per-page="vm.pgLimit" data-max-size="10" data-boundary-links="true" data-rotate="false"
                 ng-show="vm.pgTotal>vm.pgLimit" ng-model="vm.pgCurrent" ng-change="vm.pgLoad()"></div>
        </div>
    </div>
</div>

@*@using (Html.BeginInstructionsContainer())
    {
        <ul>
            <li>Amounts are US dollars.</li>
        </ul>
    }*@

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/account/transactionsReviews.js"
    )
}
