@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signout - English Cosmos</title>
    <script>
        @*window.localStorage.removeItem('accessToken');
        window.sessionStorage.removeItem('accessToken');*@
        window.location.replace('@Url.Action("Signin", "Account", null, "https")');
    </script>
</head>
<body>
</body>
</html>
