<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SearchServiceName" value="englc" />
    <add key="SearchServiceApiKey" value="BE26E6F5D19A5ED1759F1F797EE51438" />
    <add key="CommonCollectionIndexName" value="common01" />
    <add key="PersonalCollectionIndexName" value="personal01" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=.\sqlexpress;Database=test01;User ID=websitelogin;Password=123qweASD;Trusted_Connection=False;Encrypt=False;Connection Timeout=30;Application Name=LibraryIndexer;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ex01;AccountKey=AQcBJOlBei8Ir6i7C51zIWif8c0f3WvqL1tD5puwu916B0YSz7rVQN5ZT2Qf8YIVHGUjdAsfgQNZvORYJNhFAA==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ex01;AccountKey=AQcBJOlBei8Ir6i7C51zIWif8c0f3WvqL1tD5puwu916B0YSz7rVQN5ZT2Qf8YIVHGUjdAsfgQNZvORYJNhFAA==" />  </connectionStrings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
