<style>
    /* #region ----------- Slider */

    .app-slider-container {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
    }

    slider {
        display: block;
        position: relative;
        height: 16px;
        width: 100%;
    }

        slider span.bar {
            height: 100%;
            background: #dddddd;
            left: 0;
            z-index: 0;
        }

        slider span.pointer {
            width: 16px;
            top: 0;
            bottom: 0;
            background-color: #007ebd; /* #006394 appBlue */
            border-radius: 4px;
            border: 1px solid #006da3;
        }

        slider span.bubble {
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace; /* Bootstrap's font-family-monospace */
            font-size: 13px;
            top: -16px;
            text-align: center;
            text-shadow: none;
        }

            slider span.bubble.limit {
                top: -2px;
            }

    /* The slider directive uses the new HTML5 input[type=range] tag in modern browsers (IE10+). It is the top-most element, so it reacts to the user actions. But its opacity is set to 0, so it is invisible. */
    input[type=range] {
        cursor: pointer;
    }

        input[type=range]::-ms-tooltip {
            display: none;
        }

    /* #endregion ----------- /Slider */

    /* #region ----------- Review editor/viewer */

    div.app-spot-mark-container {
        width: 100%;
        height: 16px;
        position: relative;
    }

    a.app-spot-mark {
        background-color: #006394; /* appBlue link-color */
        position: absolute;
        padding: 0px;
        width: 4px;
        height: 100%;
        z-index: 10;
    }

        a.app-spot-mark:hover {
            background-color: #007ebd; /* appBlue lighten(link-color, 8%) */
        }

        a.app-spot-mark.active {
            background-color: #ac1f28; /* appRed */
            top: -16px;
        }

    button.app-unsaved-on-exit {
        border-color: red;
        border-width: 3px;
    }

    /* #endregion ----------- /Review editor/viewer */
</style>

<div id="navigation" class="row">
    <div class="col-md-12">
        <div style="margin: 0px 0px 10px;">
            @* Rejected alternative: Angular-wrapped JQuery-UI slider +http://jsfiddle.net/depy/ZXekc/ *@
            <div class="app-slider-container">
                <slider floor="0" ceiling="{{vma.exercise.length}}" ng-model="vma.soundPosition" ng-change="vma.onSliderChange()" translate-fn="vma.positionFormatting"></slider>
            </div>
            <div class="app-spot-mark-container">
                <a class="app-spot-mark" href="javascript:;" ng-repeat="r in vm.$appRemarks.remarks"
                   ng-click="vma.selectRemark(r)" ng-class="{active: vma.isSelected(r)}" ng-style="{ left: vma.getSpotMarkPosition(r) + '%' }"></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-2">
        <button class="btn btn-default btn-block" ng-click="vma.rewind()" ng-disabled="vma.soundPosition == 0"><i class="fa fa-step-backward fa-fw"></i>&nbsp;Rewind</button>
    </div>
    @* The &nbsp; separates buttons when the layout jumps on col-sm  *@
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-4">
        <button id="playButton" type="button" class="btn btn-default btn-block" ng-class="{active: vma.playing}" ng-click="vma.turnPlayer(!vma.playing)">
            <i class="fa fa-fw" ng-class="vma.playing ? 'fa-pause' : 'fa-play'"></i>&nbsp;<span ng-bind="vma.playing ? 'Pause' : 'Play'"></span>
        </button>
    </div>
    @*<div class="col-sm-4"></div>*@
</div>

