@model System.String
@if (!Request.IsAuthenticated)
{
    <div class="@Model alert alert-warning text-center" role="alert" ng-cloak>
        Please @Html.ActionLinkWithProtocol("log in", "Login", "Account", "https", null) to enable this feature
    </div>
}