@if (!Request.IsAuthenticated)
{ 
    <span class="alert alert-warning app-warning" role="alert">
        Please @Html.ActionLinkWithProtocol("log in", "Login", "Account", "https", null, new { ReturnUrl = Request.Url.PathAndQuery }, null) to enable this feature
    </span>
}