@* Show the splash screen until Angular is loaded and the .ng-cloak removed. 
    Make shure this partial is placed inside @ng-app but outside of any @ng-cloak *@
<div class="ng-cloak app-splash-backdrop">
    <div class="app-splash">
        <i class="fa fa-spinner fa-spin fa-fw fa-2x app-2px-up"></i>&nbsp;&nbsp;Loading&nbsp;...
    </div>
</div>
