<h4 id="introduction" class="app-nav-anchor">Introduction</h4>
<p>
    Welcome to Englisharium, a website ("Website") operated by Dignicom Inc. (“Dignicom” or “we”).
    The Website provides various services (“Services”) to learners (“Learners”) and teachers (“Teachers”) of English language, collectively named users (“Users”, “you”).
    By using our Website, you are agreeing to these Terms of Service (“Terms") and Privacy Policy (“Privacy Policy”) found at http://englisharium.com/info/privacy-policy and incorporated herein by reference. If you do not agree to any of these Terms or the Privacy Policy, please do not use the Service.
    @*These Terms of Service constitute the agreement between you (“User”, “you”) and the providers of the Dignicom website (“Website”), Dignicom Inc. (“Dignicom”, “we”.)
        By using our Website, you are agreeing to these Terms of Service (“Terms") and the Privacy Policy (“Privacy Policy”) found at <a href="~/info/privacy">dignicom.com/info/privacy</a> and incorporated herein by reference. If you do not agree to any of these Terms or the Privacy Policy, please do not use the Website.*@
</p>
<p>
    Dignicom may change these Terms of Service at any time. When we do, we will revise the updated date at the bottom of this page. Please periodically review the most up-to-date version. Your continued use of the Website is considered to be acceptance of the current Terms of Service.
</p>
@*                <p>
                        Welcome to dignicom.com, the website and online service of Dignicom Inc. ("Dignicom" or "we"). This page explains the terms by which you may use our service.
                        By accessing or using the Dignicom services, website and software provided through or in connection with the service ("Service"),
                         you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement ("Agreement"), whether or not you are a registered user of our Service.
                    </p>
                    <p>
    We reserve the right to amend this Agreement at any time and without notice.
                        If we do this, we will post the amended Agreement on this page and indicate at the top of the page the date the Agreement was last revised.
                        Your continued use of the Service after any such changes constitutes your acceptance of the new Terms of Use.
                        If you do not agree to any of these terms or any future Terms of Use, do not use or access (or continue to access) the Service.
                        This Agreement applies to all visitors, users, and others who access the Service ("Users").
                    </p>*@
<br />
<h4 id="account" class="app-nav-anchor">User account</h4>
<p>
    In order to access some features of the Website, you must register to create an account.
    You are responsible for maintaining control over access to your account, including the confidentiality of your password, and are responsible for all activities that occur on or through your account, whether authorized by you or not. Englisharium will not be liable for any loss or damage arising from your failure to keep your password confidential.
</p>
<p>
    In order to use the Service you must be 13 years of age or older. If you are between 13 and 18 years of age, you must have your parent or legal guardian’s permission to use the Service.
</p>
<br />
<h4 id="usercontent" class="app-nav-anchor">User content</h4>
<p>
    In these Terms, "content" means material (including, without limitation, text, images, audio material, video material and audio-visual material) that you submit to our website, for whatever purpose.
    Your content must not be illegal or unlawful, must not infringe any third party's legal rights and must not be capable of giving rise to legal action whether against you or us or a third party (in each case under any applicable law).
    Please avoid profanity, hate speech, political debate, and/or other controversial discussions.
    We reserve the right to remove any material submitted to our website, or stored on our servers. Notwithstanding our rights under these Terms in relation to your content, we do not monitor the submission of such content to or the publication of such content on, our website.
</p>
<br />
<h4 id="linksfromthiswebsite" class="app-nav-anchor">Links from this Website</h4>
<p>The external linked websites are not within the control of Englisharium. The inclusion of any external link within the Website does not imply endorsement by Englisharium of the linked website, nor does it suggest any relationship with the organization linked.</p>
<br />
<h4 id="terminationofservice" class="app-nav-anchor">Termination of Service</h4>
<p>
    Englisharium has the right to terminate Services for any reason.
</p>
<br />
<h4 id="refunds" class="app-nav-anchor">Refunds</h4>
<p>
    No refunds shall be offered, where a Service is deemed to have begun and is, for all intents and purposes, underway. Any monies that have been paid to us which constitute payment in respect of the provision of unused Services shall be refunded to a confirmed PayPal account.
</p>
<br />
@*<h4 id="taxes" class="app-nav-anchor">Taxes</h4>
        <p>
            The relationship between Dignicom and a Teacher is not an employer-employee relationship. It is your responsibility to determine what, if any, taxes apply to your work, and it is your responsibility to report the correct tax to the appropriate tax authority. Dignicom is not responsible for collecting any taxes arising from your work as a reviewer.
        </p>
<br />*@
<h4 id="limitationofliability" class="app-nav-anchor">Limitation of Liability</h4>
<p>
    Dignicom makes no warranties or representations about this Website or any of its content. Dignicom is not responsible to you or anyone else for any damages of any kind, including (but not limited to) any direct or consequential loss and losses resulting from security failure, disclosure of confidential information by other parties or the transmission of a computer virus, suffered in connection with the use of this Website whether based on breach of contract or warranty, tort (including negligence), product liability or otherwise ,even if Dignicom is informed in advance of the possibility of such damages. Dignicom excludes, to the extent permitted by law, any liability which may arise as a result of the use of this Website. By using the Website, you agree to indemnify Dignicom for any loss or liability arising out of your use. Use of the Website is at your own risk and you assume full responsibility and risk of loss resulting from your downloading, use of, or access to data, files, information, or other material on or through the Website.
</p>
<br />
<h4 id="jurisdiction" class="app-nav-anchor">Jurisdiction</h4>
<p>
    These Terms of Service are governed by and interpreted in accordance with the laws of Canada. Any disputes relating to these Terms of Service or the use of this Website will be subject to the jurisdiction of the courts of province Ontario, Canada.
</p>
<br />
<h4 id="cu" class="app-nav-anchor">Contacting us</h4>
<p>
    If you have any questions about these Terms of Service, the practices of this site, or your dealings with this site, please contact us at 
    <img src="~/content/images/email-support.png" width="160" height="15" />
</p>
<br />
<p>
    This document was last updated on 12 January 2015.
</p>
<br />