@{
    //Layout = null;
    ViewBag.Title = "Prepare for IELTS Speaking Test";
}
@section HeadScripts {
    <style>
        .googlecse-bootstrap3,
        .googlecse-bootstrap3 *,
        .googlecse-bootstrap3 *:before,
        .googlecse-bootstrap3 *:after {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            line-height: normal;
        }
    </style>
}
<div class="row">
    <div class="col-md-8" style="font-size:larger;">
        <br />
        <p>
            At English Cosmos you can prepare for an IELTS speaking test in many ways:
            <ul>
                <li>Practice speaking, simulate tests and record your exercises with other learners using Skype.</li>
                <li>Simulate tests solo with a voice recorder.</li>
                <li>Ask competent teachers to review recordings of your simulated tests, find your difficulties, and suggest ways to emprove your results.</li>
                <li>And of course, you will find here a comprehensive set of information and tips on how to prepare for an IELTS speaking test.</li>
            </ul>
        </p>
        <br />
        <p><small>You can use all those features for free. You may pay teachers, if you ask them to review your execises.</small></p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive img-rounded" src="~/Content/Images/ielts-test.jpg" />
    </div>
</div>

@Html.HrSeparator("col-md-12")

@*<div class="row">
    <div class="col-sm-offset-2 col-sm-8 googlecse-bootstrap3">
        <script>
            (function () {
                var cx = '002797079407100955729:u-23lms1zak';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>
</div>*@

