@{
    ViewBag.Title = "Live sessions with teachers";
    ViewBag.NavItem = "Conversations";
}
@section HeadScripts {
    @Styles.Render(
"~/bower_installer/fullcalendar/fullcalendar.css"
    )
}
<div ng-app="myApp" ng-cloak>
    <div ng-controller="Index">
        @Html.Partial("_ClockWrongPartial")
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <ul class="list-inline list-unstyled">
                    <li><strong>Legend</strong></li>
                    <li><i class="fa fa-square fa-fw  fa-lg app-2px-up app-appblue"></i>Offered session</li>
                    <li><i class="fa fa-square fa-fw  fa-lg app-2px-up" style="color:#5cb85c;"></i>Booked session</li>
                </ul>
                <div ng-model="vm.eventSources" data-ui-calendar="vm.calConfig" data-calendar="calObj"></div>
            </div>
        </div>
    </div><!-- /Index -->
</div><!-- /app -->
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/bower_installer/fullcalendar/fullcalendar.min.js",
"~/bower_installer/angular-ui-calendar/calendar.js",

"~/app/sessions/utils-sessions.js",
"~/app/sessions/index.js"
)}
