@{
    ViewBag.NavItem = "Sessions";
}
@section HeadScripts {
    @Styles.Render(
"~/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css",
"~/Content/fullcalendar/fullcalendar.css"
    )
}
<div data-ng-app="app">
    @Html.Partial("_ClockWarning")
    <div data-ng-view=""></div>
</div>

@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/bundles/angular-bootstrap",
"~/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js",

"~/Content/fullcalendar/fullcalendar.min.js",
"~/bower_components/angular-ui-calendar/src/calendar.js",

"~/App/Shared/utils-schedule.js",
"~/App/Sessions/teacher-schedule.js",
"~/App/Sessions/utils-session.js",
"~/App/Sessions/teacher-session.js",
"~/App/Sessions/teacher-app.js"
)
}

