@{
    ViewBag.Title = "Sessions";
    ViewBag.NavItem = "Teacher";
}
@section HeadScripts {
    @Styles.Render(
"~/bower_installer/fullcalendar/fullcalendar.css"
    )
    <style>
        /*@@-webkit-keyframes blink {
            0%, 100% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }
        }

        @@-moz-keyframes blink {
            0%, 100% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }
        }

        @@keyframes blink {
            0%, 100% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }
        }

        a.fc-event.app-session.app-session-selected {
            -webkit-animation: blink 2s infinite;
            -moz-animation: blink 2s infinite;
            animation: blink 2s infinite;
        }*/

        .fc-toolbar {
            margin-bottom: 0;
        }
    </style>
}
<div ng-app="myApp" ng-cloak>
    <div ng-controller="Teacher">
        @Html.Partial("_ClockWrongPartial")
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">

                <div calendar="myCal" ui-calendar="vm.calConfig" ng-model="vm.eventSources"></div>

                @Html.Partial("_ColorLegendPartial")

            </div>
        </div>
    </div><!-- /Sessions -->
</div><!-- /app -->
@*<h4>Activity suggestions for a session</h4>
    <ul>
        <li><a href="/games/pick-a-pic">Game "Pick a picture"</a></li>
        <li><a href="http://iteslj.org/questions/" target="_blank">Topic questions</a></li>
    </ul>*@
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/bower_installer/fullcalendar/fullcalendar.min.js",
"~/bower_installer/angular-ui-calendar/calendar.js",

"~/app/sessions/utils-sessions.js",
"~/app/sessions/teacher.js"
)}
