<form action="/api/sessions/inbound_webhook" method="post">
    @*<form action="/sessions/inbound-mandrill-email" method="post">*@
    <input type="text" name="mandrill_events" value="qwe1" />
    <input type="submit" value="Ok" />
</form>