<form class="form-horizontal">
    <div class="form-group" ng-show="vm.showUrl">
        <label class="col-md-2 control-label">Web address</label>
        <div class="col-md-9">
            <input type="text" class="form-control input-sm" ng-model="vm.resource.url" ng-maxlength="2000" ng-required placeholder="http://www.example.com/page" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Title</label>
        <div class="col-md-9">
            <input type="text" class="form-control input-sm" ng-model="vm.resource.title" ng-maxlength="200" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Category</label>
        <div class="col-md-9">
            <div class="row" ng-style="$first ? {} : {'margin-top':'10px'}" ng-repeat="s in vm.selections">
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-options="c.id as c.name for c in vm.categoriesL1" ng-model="s.level1" ng-change="vm.clearL2L3(s)">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm" ng-show="s.level1" ng-options="c.id as c.name for c in vm.getCategories(s.level1)" ng-model="s.level2" ng-change="vm.clearL3(s)">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-5">
                    <select class="form-control input-sm" ng-show="s.level2" ng-options="c.id as c.name for c in vm.getCategories(s.level2)" ng-model="s.level3">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default btn-sm app-btn-disablable" ng-click="vm.addSelection()" ng-disabled="!vm.canAddSelection()" title="Add another category">
                <i class="fa fa-plus text-success app-1px-down"></i>
            </button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tags/Keywords</label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <tags-input class="ti-input-sm" ng-model="vm.tags"></tags-input>
                </div>
            </div>
            <!--<div class="help-block app-margin-bottom-none"><small>You can enter related words as separate tags or combine the words together as a single tag. For example, you can enter "Past Simple" as either "past" "simple" or "pastsimple". Use the same keywords later for search.</small></div>-->
            <div class="help-block app-margin-bottom-none"><small>Enter related words as separate tags. For example, enter "Past Simple" as "past" and "simple".</small></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Learning type</label>
        <div class="col-sm-9">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasExplanation" />Explanation
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasExample" />Example
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasExercise" />Exercise
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Media type</label>
        <div class="col-sm-9">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasText" />Text
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasPicture" />Picture
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasAudio" />Audio
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.resource.hasVideo" />Video
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Comment</label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control input-sm" ng-model="vm.resource.comment" ng-maxlength="200" />
                </div>
            </div>
            <div class="help-block small app-margin-bottom-none">Only you will see this comment. Maximum 200 characters.</div>
        </div>
    </div>
</form>
