@{
    ViewBag.HeadTitle = "About";
    ViewBag.Title = "About the idea of this website";
}
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <p>
            <strong>
                There is an idea on how to practice speaking English more comfortably. A teacher can be given a tool to provide feedback to a learner’s speech after it is done, by annotating a record of the speech.
                This way, we avoid embarrassing the learner. The learner also gets the opportunity to analyze her mistakes, collect statistics about them, and adjust her learning plan accordingly.
            </strong>
        </p>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    And here is the story behind this idea:
                </p>
                <p>
                    Hello! My name is Andrey Fomin, the founder of Englisharium. With my first language being Russian and studying German at school, I began learning English by the time I became an adult.
                    Mostly, I studied English by myself. However, I have attended various kinds of courses as well and even spent money on some websites.
                </p>
                <p>
                    I have always been curious during my learning, and I observed how my classmates and I were progressing.
                    And I asked myself a question, Why do people try to achieve the same goal in so many different ways?
                </p>
            </div>
            <div class="col-sm-4">
                @*<img src="~/content/images/about.jpg" class="img-responsive img-thumbnail" width="210" height="140" alt="image" />*@
            </div>
        </div>
        <p>
            Gradually I became interested in the topic of second language acquisition.
            I have been reading books and spending my time on the web trying to find out what scientists and practitioners say regarding that subject.
            Based on other people's ideas and my observations, I have come to the following conclusions about the process of learning a foreign language.
        </p>
        <ul>
            <li>All learning methods may be effective. Real interest is more important than a particular method or even a lack of any method. For many of us, classes may be definitely worth time and money. Most people need the help of a teacher to explain intricacies of a language and to correct mistakes.</li>
            @*<li>The process of learning a foreign language includes acquiring both passive skills (listening and reading) and active skills (speaking and writing). Whereas the passive skills can be learned with minimal external help, developing the active skills needs feedback.</li>*@
            <li>You cannot learn to speak a language only by reading textbooks or watching movies. You need to practice it like a skill, for example, dancing. By analogy with dancing, you need examples to follow, and you need feedback to know whether you are doing it correctly.</li>
            <li>You need to practice speaking the language aloud. And you need somebody to give you feedback on your speeches. But the problem is that most learners do not like making mistakes publicly. And teachers do not like interrupting learners by pointing out every single mistake.</li>
        </ul>
        <p>
            The idea of this website follows those conclusions. It is a tool aimed at helping learners to break the speaking barrier.
        </p>
        <p>
            <strong>
                Now that you know the idea behind Englisharium, you may be wondering: @Html.ActionLink("How does it work?", "HowItWorks", "Info")
            </strong>
        </p>

    </div>
</div>

