@{
    ViewBag.Title = "About Dignicom";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
            This website englisharium.com is operated by company Dignicom Inc. The company is based in the city of Toronto, Canada.
        </p>
        <p>
            Our e-mail address is <img src="~/content/images/email-dignicom.png" width="148" height="15" />.
            <br />
            If you have a question regarding this website, please send it to <img src="~/content/images/email-support.png" width="160" height="15" />.
        </p>
        <p>
            Our mailing address is
            <br />
            &nbsp;&nbsp;&nbsp;Dignicom Inc.
            <br />
            &nbsp;&nbsp;&nbsp;45 Southport Street, Suite 1409
            <br />
            &nbsp;&nbsp;&nbsp;Toronto, Ontario M6S 3N5
            <br />
            &nbsp;&nbsp;&nbsp;Canada
        </p>
        <p>
            Our phone number is +1 647 909 7621.
        </p>
    </div>
</div>


