@{
    ViewBag.Title = "About English Cosmos";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
            The name of this website is English Cosmos and its web addres is <a href="http://www.englc.com/">www.englc.com</a>
        </p>
    </div>
</div>
@Html.HrSeparator("col-sm-offset-2 col-sm-8")
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
            English Cosmos is operated by company Dignicom Inc. The company was founded in 2012. It is based in the city of Toronto, Canada.
        </p>
        @*<p>
                Our email address is dignicom@dignicom.com
            </p>*@
        <p>
            <a href="~/info/support">
                <img src="~/Content/Images/email-dignicom.png" width="270" height="13" title="If you have a question regarding this website, please use the Support page." />
            </a>
        </p>
        <p>
            Our mailing address is
            <br />
            &nbsp;&nbsp;&nbsp;Dignicom Inc.
            <br />
            &nbsp;&nbsp;&nbsp;45 Southport Street
            <br />
            &nbsp;&nbsp;&nbsp;Suite 1409
            <br />
            &nbsp;&nbsp;&nbsp;Toronto, Ontario M6S 3N5
            <br />
            &nbsp;&nbsp;&nbsp;Canada
        </p>
        <p>
            Our phone number is +1 647 909 7621.
        </p>
    </div>
</div>
@Html.HrSeparator("col-sm-offset-2 col-sm-8")
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="text-muted">
            By the way, you can go to English Cosmos with seven keystrokes. :-)
            <ul>
                <li>Press <strong>ALT+D</strong> to focus the browser's address bar</li>
                <li>Type <strong>englc</strong></li>
                <li>Press <strong>CTRL+Enter</strong></li>
            </ul>
        </div>
    </div>
</div>


