@{
    ViewBag.Title = "About English Cosmos";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
            The name of this website is English Cosmos and its web addres is <a href="http://www.englc.com/">www.englc.com</a>
        </p>
        @*<abbr title="By the way, you can point your browser to this web address with seven keystrokes. Click to learn how.">
                <i class="fa fa-info-circle" data-toggle="collapse" data-target="#hint"></i>
            </abbr>.
            <div id="hint" class="collapse">
                Hint: You can point your browser to this website with seven keystrokes.
                <ol>
                    <li>Press ALT+D to focus the browser's address bar.</li>
                    <li>Type englc</li>
                    <li>Press CTRL+Enter</li>
                </ol>
            </div>*@
        <div class="text-muted">
            By the way, you can go to English Cosmos with seven keystrokes. :-)
            <ul>
                <li>Press <strong>ALT+D</strong> to focus the browser's address bar</li>
                <li>Type <strong>englc</strong></li>
                <li>Press <strong>CTRL+Enter</strong></li>
            </ul>
        </div>
    </div>
</div>
@Html.HrSeparator("col-sm-offset-2 col-sm-8")
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
            English Cosmos is operated by company Dignicom Inc. The company was founded in 2012. It is based in the city of Toronto, Canada.
        </p>
        @*<p>
                Our email address is englc@dignicom.com
            </p>*@
        <p>
            <a href="~/info/support">
                <img src="~/Content/Images/email_dignicom.png" width="250" height="13" title="If you have a question regarding this website, please use the Support page." />
            </a>
        </p>
        <p>
            Our mail address is
            <br />
            &nbsp;&nbsp;&nbsp;Dignicom Inc.
            <br />
            &nbsp;&nbsp;&nbsp;45 Southport Street, Suite 1409
            <br />
            &nbsp;&nbsp;&nbsp;Toronto, Ontario
            <br />
            &nbsp;&nbsp;&nbsp;M6S 3N5 Canada
        </p>
        <p>
            Our phone number is +1 647 771 1715.
        </p>
    </div>
</div>
