@{
    ViewBag.Title = "Frequently Asked Questions";
}
@section HeadScripts {
    @Html.Partial("_TopScriptsPartial", 240)
}
<div class="row">
    <!--Sidebar -->
    <div class="col-sm-4">
        <div id="sidebar" class="affix">
            <ul class="nav nav-pills nav-stacked">
                <li>GENERAL</li>
                <li><a href="#instructions">Instructions</a></li>
                <li><a href="#registration">Registration</a></li>
                <li>LEARNER</li>
                <li><a href="#exercises">Exercises</a></li>
                <li><a href="#reviewrequest">Review request</a></li>
                <li><a href="#learnerpayment">Payment</a></li>
                <li>TEACHER</li>
                <li><a href="#becomingteacher">Becoming a teacher</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#reviewrpayment">Payment</a></li>
            </ul>
        </div>
    </div>
    <!--Body content-->
    <div class="col-sm-8">

        <div>
            <h4 id="detailedinstructions" class="app-nav-anchor">GENERAL - Instructions</h4>
            <p>
                <strong>I need a general overview of the website.</strong><br />
                The main features of the website are described on the <a href="/info/how-it-works">How it works</a> page.
            </p>
            <p>
                <strong>What do I need to use Englisharium?</strong><br />
                You will need a computer and a headset with microphone.
            </p>
            <p>
                <strong>Where can I find specific instructions on how to do some particular task?</strong><br />
                There is a button like this <img src="~/content/images/button-help.png" /> at the bottom of most interactive pages. Click it to find specific instructions for the page.                
            </p>
        </div>

        <div>
            <h4 id="registration" class="app-nav-anchor">GENERAL - Registration</h4>
            <strong>What do I need to create an account?</strong><br />
            <ul>
                <li>Create an account by registering on the <a href="/account/signup">Create account</a> page.</li>
                <li>The main piece of information that is needed is your email address. It will become your username for logging into your account.</li>
                <li>We send a confirmation email to your email address. You may not use some parts of the Website until you have confirmed your email address.</li>
            </ul>
            <strong>What can I do with my account?</strong><br />
            <ul>
                <p>
                    The Englisharium account is a user account, not a bank account. You can create an account freely, even if you have no intentions to add money to it in the future.
                    Although you can put money into your Englisharium account, as a learner, you can use that money to pay teachers only.
                    As a teacher, you will be able to withdraw your earned money.
                </p>
            </ul>
            <p>
                <strong>Can others see my name?</strong><br />
                We encourage learners and teachers to form personal relationships and recognize each other by name. However, we respect privacy of the learners. Learners at Englisharium may choose to stay anonymous.
            </p>
        </div>

        <div>
            <h4 id="exercises" class="app-nav-anchor">LEARNER - Exercises</h4>
            <p><strong>How do I record an exercise?</strong></p>
            <ul>
                <li>On the <em>Exercises</em> page, click the <em>Record a monologue</em> button, than choose a topic and click the <em>Go to the recording page</em> button.</li>
                <li>To find detailed instructions on how to record your speech, you can click the <em>Show instructions</em> button on that page.</li>
            </ul>
        </div>

        <div>
            <h4 id="reviewrequest" class="app-nav-anchor">LEARNER - Review request</h4>
            <p>
                <strong>Can a review request be canceled?</strong><br />
                The learner can cancel a review request until a teacher has taken it for reviewing. We will return the escrow amount to the learner's account.
            </p>
        </div>

        <div>
            <h4 id="learnerpayment" class="app-nav-anchor">LEARNER - Payment</h4>
            <p>
                <strong>How can I add money to my account?</strong><br />
                Our payment provider is <a href="https://www.paypal.com/" target="blank">PayPal</a>, which allows many popular payment methods, including debit and credit cards Visa, MasterCard, UnionPay, in many currencies.
            </p>
            <strong>How much does Englisharium charge?</strong><br />
            <ul>
                <li>It is always free to sign up and record exercises.</li>
                <li>We deduct PayPal transaction fees when we receive your payment.</li>
                <li>The teacher rate you see already includes an Englisharium fee, so you do not pay extra for reviewing.</li>
            </ul>
        </div>

        <div>
            <h4 id="becomingteacher" class="app-nav-anchor">TEACHER - Becoming a teacher</h4>
            <strong>How can I become a teacher?</strong><br />
            <ul>
                <li>Create a regular Englisharium account.</li>
                <li>Sign in and go to the <em>Exercises</em> page and record a message to us. Tell us who you are, where you live, how the weather is where you live, and describe your experience with teaching English.</li>
                <li>
                    Then go to the <em>Support</em> page and click the <em>Contact support</em> button to send a message to us. In the subject line of the appeared form, write "New teacher".
                    You can leave the body field empty.
                </li>
                <li>We will reply to you in 24 hours.</li>
                <li>After you received the Teacher status, you will see the <em>Requests</em> link on the top menu bar while you are logged in.</li>
                <li>Please note, to withdraw money from your Englisharium account, you will need a confirmed <a href="https://www.paypal.com/" target="blank">PayPal</a> account.</li>
            </ul>

            <p>
                <strong>What is my status as a teacher?</strong><br />
                The relationship between Englisharium and a teacher is not an employer-employee relationship.
            </p>

        </div>

        <div>
            <h4 id="reviews" class="app-nav-anchor">TEACHER - Reviews</h4>
            <p>
                <strong>Can I start another review on my second computer?</strong><br />
                After a teacher has taken a review request, that request is no more available to other teachers.
                The learner is notified about the fact that the review has started and she is eagerly waiting to get her hands on it.
                That is why the teacher is unable to start another review until she has finished the current one.
            </p>
        </div>

        <div>
            <h4 id="reviewrpayment" class="app-nav-anchor">TEACHER - Payment</h4>
            <p>
                <strong>If I am promised a payment, will I get it for sure?</strong><br />
                The payment amount is taken from the learner's account at the review request moment and put on a special escrow account. The learner is unable to promise that money twice.
                The teacher receives the payment on review completion.
            </p>
            <p>
                <strong>What is the service fee?</strong><br />
                WE have a commitment to keep a high quality of service.
                To be sustainable, we have to cover our expenses, such as advertising, payment processing, development and maintenance of the website,.<br />
                We deduct our service fee on each payment from a learner to a teacher. The current fee rate is 29% of earnings. The fee rate and fee structure may be changed; changes will be announced in advance.
            </p>
            <strong>How will I be paid?</strong><br />
            <ul>
                <li>
                    To withdraw money from your Englisharium account, you will need a <a href="https://www.paypal.com/" target="blank">PayPal</a> account. We do not transfer money directly to a bank account.
                    PayPal may charge a minimal fee for withdrawals to a bank account, for example $0 for US banks, $0-0.50 CAD for Canadian banks, and there may be currency exchange fees involved. You can find specific fee rates by logging into your PayPal account and clicking <em>Fees</em> on the bottom menu.
                </li>
                <li>We ask to confirm your account first by transferring a few cents from your PayPal account to your Englisharium account. You will receive the details in the reply to your request to become a teacher.</li>
                <li>You do not need to initiate a transfer. We transfer money monthly.</li>
            </ul>
        </div>
    </div>
</div>
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
}


