@{
    ViewBag.Title = "Frequently Asked Questions";
}
@section HeadScripts {
    @Html.Partial("_TopScriptsPartial", 240)
}
<div class="row">
    <!--Sidebar -->
    <div class="col-sm-4">
        <div id="sidebar" class="affix">
            <ul class="nav nav-pills nav-stacked">
                <li>GENERAL</li>
                <li><a href="#instructions">Instructions</a></li>
                <li><a href="#registration">Registration</a></li>
                <li>LEARNER</li>
                <li><a href="#exercises">Exercises</a></li>
                <li><a href="#reviewrequest">Review request</a></li>
                <li><a href="#learnerpayment">Payment</a></li>
                <li>TUTOR</li>
                <li><a href="#becomingtutor">Becoming a tutor</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#reviewrpayment">Payment</a></li>
            </ul>
        </div>
    </div>
    <!--Body content-->
    <div class="col-sm-8">

        <div>
            <h4 id="detailedinstructions" class="app-nav-anchor">GENERAL - Instructions</h4>
            <p>
                <strong>I need a general overview of the website.</strong><br />
                The main features of the website are described on the <a href="/info/how-it-works">How it works</a> page.
            </p>
            <p>
                <strong>Where can I find specific instructions on how to do some particular task?</strong><br />
                There is a <em>Show instructions</em> button at the bottom of most interactive pages. Click it to find specific instructions for the page.
            </p>
        </div>

        <div>
            <h4 id="registration" class="app-nav-anchor">GENERAL - Registration</h4>
            <strong>What do I need to create an account?</strong><br />
            <ul>
                <li>Create an account by registering on the <a href="/account/create">Create account</a> page.</li>
                <li>The main piece of information that is needed is your email address. It will become your username for signing into your account.</li>
                <li>We send a confirmation email to your email address. You may not use some parts of the Website until you have confirmed your email address.</li>
            </ul>
            <strong>What can I do with my account?</strong><br />
            <ul>
                <li>English Cosmos account is a user account. You can create an account freely, even if you have no intentions to add money to it in the future.</li>
                <li>
                    English Cosmos account is not a bank account. Although you can put money into your English Cosmos account, as a learner, you can use that money to pay tutors only.
                    As a tutor, you will be able to withdraw your earned money.
                </li>
            </ul>
            <p>
                <strong>Can others see my name?</strong><br />
                We encourage learners and tutors to form personal relationships and recognize each other by name. However, we respect privacy of the learners. Learners at English Cosmos may choose to stay anonymous.
            </p>
        </div>

        <div>
            <h4 id="exercises" class="app-nav-anchor">LEARNER - Exercises</h4>
            <p><strong>How do I record an exercise?</strong></p>
            <ul>
                <li>On the <em>Exercises</em> page, click the <em>Record a monologue</em> button, than choose a topic and click the <em>Go to the recording page</em> button.</li>
                <li>To find detailed instructions on how to record your speech, you can click the <em>Show instructions</em> button on that page.</li>
            </ul>
        </div>

        <div>
            <h4 id="reviewrequest" class="app-nav-anchor">LEARNER - Review request</h4>
            <p>
                <strong>Can a review request be canceled?</strong><br />
                The learner can cancel a review request until a tutor has taken it for reviewing. We will return the reward escrow to the learner's account.
            </p>
        </div>

        <div>
            <h4 id="learnerpayment" class="app-nav-anchor">LEARNER - Payment</h4>
            <p>
                <strong>How can I add money to my account?</strong><br />
                Our payment provider is <a href="https://www.paypal.com/" target="blank">PayPal</a>, which allows many popular payment methods, including debit and credit cards Visa, MasterCard, UnionPay.
            </p>
        </div>

        <div>
            <h4 id="becomingtutor" class="app-nav-anchor">TUTOR - Becoming a tutor</h4>
            <strong>How can I become a tutor?</strong><br />
            <ul>
                <li>Create a regular English Cosmos account.</li>
                <li>Sign in and go to the <em>Exercises</em> page and record a message to us. Tell us where you live, how the weather is where you live, and describe your experience with teaching English.</li>
                <li>
                    Then go to the <em>Support</em> page and click the <em>Contact support</em> button to send a message to us. In the subject line of the appeared form, write "New tutor" and the email address you are using as the username.
                    You can leave the body field empty.
                </li>
                <li>We will reply to you in 24 hours.</li>
                <li>After you received the Tutor status, you will see the <em>Requests</em> link on the top menu bar while you are logged in.</li>
                <li>Please note, to withdraw money from your English Cosmos account, you will need a <a href="https://www.paypal.com/" target="blank">PayPal</a> account.</li>
            </ul>

            <p>
                <strong>What is my status as a tutor?</strong><br />
                The relationship between English Cosmos and a tutor is not an employer-employee relationship.
            </p>

        </div>

        <div>
            <h4 id="reviews" class="app-nav-anchor">TUTOR - Reviews</h4>
            <p>
                <strong>Can I start another review on my second computer?</strong><br />
                After a tutor has taken a review request, that request is no more available to other tutors. 
                The learner is notified about the fact that the review has started and she is eagerly waiting to get her hands on it.
                That is why the tutor is unable to start another review until she has finished the current one.
            </p>
        </div>

        <div>
            <h4 id="reviewrpayment" class="app-nav-anchor">TUTOR - Payment</h4>
            <p>
                <strong>If I am promised a reward, will I get it for sure?</strong><br />
                The reward amount is taken from the learner's account at the review request moment and put on a special escrow account. The learner is unable to promise that money twice.
                The tutor receives the reward on review completion.
            </p>
            <p>
                <strong>What is the service fee?</strong><br />
                English Cosmos has a commitment to keep a high quality of service.
                To be sustainable, we have to cover our expenses, such as development and maintenance of the website, advertising, and payment processing.<br />
                We deduct our service fee monthly on money withdrawal. The current fee rate is 33% of earnings. The fee rate and fee structure may be changed; changes will be announced in advance.
            </p>
            <strong>How will I be paid?</strong><br />
            <ul>
                <li>
                    To withdraw money from your English Cosmos account, you will need a <a href="https://www.paypal.com/" target="blank">PayPal</a> account. We do not transfer money directly to a bank account.
                    PayPal may charge a minimal fee for withdrawals to a bank account, for example $0 for US banks, $0-0.50 CAD for Canadian banks, and there may be currency exchange fees involved. You can find specific fee rates by logging into your PayPal account and clicking <em>Fees</em> on the bottom menu.
                </li>
                <li>We ask to confirm your account first by transferring a few cents from your PayPal account to your English Cosmos account. You will receive the details in the reply to your request to become a tutor.</li>
                <li>You do not need to initiate a transfer. We transfer money monthly.</li>
            </ul>
        </div>
    </div>
</div>
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
}


