@{
    ViewBag.Title = "How it works";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <p>
            English Cosmos is a marketplace for a specific type of tasks that are related to practicing speaking English.
        </p>
        <p>
            As a first step, a learner tells a story and records the speech on a special web page. @*Alternatively, she can record a Skype conversation with a special tool.*@ 
        </p>
        <p>
            Then the learner requests a review of the recorded exercise and offers an amount of money of their choice as a reward for reviewing.  
        </p>
        <p>
            The learner can offer the exercise for reviewing to all or only to particular tutors. The specified tutors can simultaneously see the request.
            They can see the reward amount, the length of the recording, the learner's name. Tutors are free to decide whether to review the exercise.
            After a tutor has taken the exercise, that exercise is no more available to other tutors.
        </p>
        <p>
            While listening to the exercise, the tutor can mark spots on the record where she wants to make remarks. She can write comments and tag remarks with predefined grammar categories.
        </p>
        <p>
            After the tutor has completed the review, the review becomes available to the learner. At that moment, the tutor receives the reward.
        </p>
        <p>
            The learner can listen to the recording again and see remarks related to certain spots on the recording.
            If the learner clicks on a grammar tag, she will be directed to related learning resources.
        </p>
        <p>
            After a number of exercises, the learner can see the statistics of mistakes and decide which areas of the language she needs to learn and practice more.
        </p>
    </div>
</div>
