@{
    ViewBag.Title = "Supported Browsers";
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <p>
            Because it's built using web standards, English Cosmos runs on Windows, Mac, Linux, iOS, Android, or any other device with a modern web browser.
        </p>
        <p>
            English Cosmos supports the current and previous major release versions of Firefox, Chrome, Internet Explorer, and Safari.
            Additionally, Flash plug-in version 10 or higher is required if you want to use the audio recording.
        </p>
        <p>
            We highly recommend updating to the newest version of whatever browser you are using as well as the most up-to-date Flash plug-in.
        </p>
    </div>
</div>



