@{
    ViewBag.Title = "Terms of Service";
}
@section HeadScripts {
    @Html.Partial("_TopScriptsPartial", 240)
}
<div class="row">
    <!--Sidebar -->
    <div class="col-lg-offset-1 col-sm-4 col-lg-3">
        <div id="sidebar" class="affix">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#account">User account</a></li>
                <li><a href="#usercontent">User content</a></li>
                <li><a href="#linksfromthiswebsite">Links from this Website</a></li>
                <li><a href="#terminationofservice">Termination of Service</a></li>
                <li><a href="#refunds">Refunds</a></li>
                <li><a href="#limitationofliability">Limitation of Liability</a></li>
                <li><a href="#jurisdiction">Jurisdiction</a></li>
            </ul>
        </div>
    </div>
    <!--Body content-->
    <div class="col-sm-8 col-lg-6">
        @Html.Partial("_TermsOfServicePartial")
        <br />
    </div>
</div>
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
}


