
@{
    ViewBag.Title = "This web site does not support your browser version";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <p>
            This web site requires features that are available only with browsers like Internet Explorer 10 or later. You may need to install a newer version of Internet Explorer.
        </p>
        <ul>
            <li>@Html.ActionLink("More information", "SupportedBrowsers", "Info") about supported browsers.</li>
            <li>You might be running an unsupported version of Internet Explorer. <a href="//go.microsoft.com/fwLink/?LinkID=248938&amp;clcid=0x409">Get the latest version.</a></li>
            <li>You might be running Internet Explorer in a compatibility mode. To view this web site, you should use Internet Explorer in Standards mode. <a href="//go.microsoft.com/fwLink/?LinkID=248939&amp;clcid=0x409">Learn how</a> to run Internet Explorer in Standards mode.</li>
        </ul>
    </div>
</div>

