@{
    //Layout = null;
    ViewBag.Title = "Prepare for IELTS Speaking Test";
}
<div class="row">
    <div class="col-md-offset-1 col-md-7" style="font-size:larger;">
        <br />
        <p>
            You can prepare for an IELTS speaking test in many ways at Englisharium:
            <ul>
                <li>Practice speaking, simulate tests and record your exercises with other learners using Skype.</li>
                <li>Simulate tests solo with a voice recorder.</li>
                <li>Ask competent teachers to review recordings of your simulated tests, find your difficulties, and suggest ways to emprove your results.</li>
                <li>And of course, you will find here a comprehensive set of information and tips on how to prepare for an IELTS speaking test.</li>
            </ul>
        </p>
        <br />
        <p><small>You can use all those features for free. You may need to pay teachers, if you ask them to review your exercises.</small></p>
        <p>@Html.ActionLink("More...", "Index", "Home")</p>

        @if (!Request.IsAuthenticated)
        {
            <hr class="app-separator" />
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    @Html.ActionLink(HttpUtility.HtmlDecode("Try it for free"), "Create", "Account", null, new { @class = "btn btn-primary btn-lg btn-block" })
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <br />&nbsp;
        <img class="img-responsive img-thumbnail" src="~/content/images/ielts-test.jpg" />
    </div>
</div>
