@section HeadScripts {
    @Scripts.Render("~/bundles/swfobject")
    @Styles.Render("~/bundles/animate-css")

    <style>
        object:focus {
            outline: none;
        }

        .my-muted {
            color: lightgray;
        }
    </style>
}
@* Do not use ng-cloak on the root div. We insert a Flash player. *@
<div ng-app="myApp" ng-controller="SpeakingDesktop">
    <h3 class="page-header app">Practice IELTS <small ng-cloak>{{vm.getSecondaryTitle()}}</small></h3>

    <div class="row">
        <div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <button class="btn" ng-class="vm.card ? 'btn-default btn-xs' : 'btn-primary'" ng-click="vm.showChooseCardModal()">Choose card</button>
                    </div>
                    <div class="row app-margin-top app-margin-bottom">
                        <div class="col-md-offset-1 col-md-10">
                            <div ng-repeat="i in vm.card.items" ng-class="{'my-muted': $index != vm.currentItem}">
                                <p ng-bind-html="i.contents"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-lg app-btn-disablable" ng-show="vm.card" ng-click="vm.nextItem()" ng-disabled="!vm.card || (vm.currentItem >= vm.card.items.length)">
                            Show next question
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="alert alert-danger" role="alert" ng-show="!vm.flashFound" ng-cloak>
            <p>
                To record speech you need to install Adobe Flash Player to your browser.
                <a href="http://get.adobe.com/flashplayer" target="_blank">Get&nbsp;Adobe&nbsp;Flash&nbsp;Player</a>
            </p>
        </div>
        <div id="toBeReplacedByAudiorSwfObject"></div>
    </div>
</div>
@*@using (Html.BeginInstructionsContainer())
    {
        <ul>
            <li>Choose the topic for your speech.</li>
            <li>If there is more than one microphone available, you will see an option at the top of the recorder panel to select the appropriate one.</li>
            <li>Press the big round button to start recording.</li>
            <li>If you record for the first time, you will be present with a <em>Settings</em> dialog. Select <em>Allow</em> and <em>Remember</em>, then press the <em>Close</em> button. The dialog will no more appear after that.</li>
            <li>Imagine you are speaking to your English teacher.</li>
            <li>Speak clearly and loudly.</li>
            <li>Don't start talking right away. Take a moment to collect yourself. Take a deep breath and begin speaking.</li>
            <li>The current record duration is indicated in minutes and seconds at the bottom of the recorder panel, before the slash. The time limit is indicated after the slash, it is 5 minutes.</li>
            <li>You may pause recording by pressing the small round button.</li>
            <li>Press the big round button to stop recording.</li>
            <li>After you have finished recording, wait while the record is being processed and uploaded to the website. It may take a couple of minutes.</li>
            <li>
                Here is the template that you can use to retell a story
                <ul>
                    <li>Who were the main characters?</li>
                    <li>What problem did the main characters experience?</li>
                    <li>What happened first, next, and last?</li>
                    <li>How did the story end?</li>
                    <!--<li>How was the problem solved?</li>-->
                </ul>
            </li>
        </ul>
    }*@
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/exercises/utils.js",
"~/app/ielts/utils.js",
"~/app/ielts/speakingDesktop.js"
)}
