<p>Length: @ViewBag.Length</p>
@if (ViewBag.Length > 100)
{
    <h3>Settings are done</h3>
}
else
{
    <h3>Configure settings</h3>
}
<p>
    <a href="~/api/recordings/transcoded/?inputBlobName=endpointMonitoring">Endpoint monitoring</a>
</p>
test 03