<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" 
         connectionString="Server=.\sqlexpress;Database=Runnymede;User ID=websitelogin;Password=123qweASD;Trusted_Connection=False;Encrypt=False;Connection Timeout=30;" 
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="StorageConnection" 
         connectionString="DefaultEndpointsProtocol=http;AccountName=<>;AccountKey=<>" 
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />-->
  </connectionStrings>
  <appSettings>
    <!-- Runnymede.Website.Utils.CustomController.OnAuthorization() uses HttpPort and HttpsPort for HTTP <-> HTTPS redirect. Clear them to use the default 80 and 443. -->
    <add key="HttpPort" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="HttpsPort" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors xdt:Transform="Remove" />
    <!--Toggle "compilation debug" to false to enable bundling/minification-->
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.sendgrid.net" port="587" userName="azure_118d51984693c99ba52f8762f623195b@azure.com" password="7hhsvdpp"
                 xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>