<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <customErrors xdt:Transform="Remove" />
    <!--Toggle "compilation debug" to false to enable bundling/minification-->
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.sendgrid.net" port="587" userName="azure_118d51984693c99ba52f8762f623195b@azure.com" password="7hhsvdpp"
                 xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>