<h3 class="page-header">{{pageTitle}}</h3>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>Favorites</li>
                    <li><a href="#/all">All teachers</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div ng-cloak>
            <div data-ng-if="vm.noTeachers()">
                <br />
                <p class="text-center">
                    You have not added any teachers to your favorite list yet.<br />
                    You can see the full teacher list <a href="#/all">here</a>.
                </p>
            </div>
        </div>
        <table class="table table-condensed table-hover" ng-hide="vm.teachers.length === 0">
            <!--<caption style="text-align:center;"><strong>Your favorite teachers</strong></caption>-->
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Review rate</th>
                    <th>Session rate</th>
                    <th>Sessions</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-ng-repeat="t in vm.teachers">
                <tr>
                    <td>
                        <img ng-src="{{t.avatarSmallUrl}}" width="36" height="36" />&nbsp;&nbsp;
                    </td>
                    <td>
                        <strong>{{t.displayName}}</strong>
                    </td>
                    <td>
                        ${{t.reviewRate | number:2}}/hour
                    </td>
                    <td>
                        ${{t.sessionRate | number:2}}/hour
                    </td>
                    <td>
                        <a href="#/teacher-schedule/{{t.id}}/{{t.displayName}}/{{t.sessionRate}}">Schedule</a>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" data-ng-click="vm.payTeacher(t)" title="Pay">Pay</button>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" data-ng-click="vm.removeTeacher(t)" title="Remove"><i class="fa fa-times fa-fw"></i> Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
